{% extends "layouts/main.html" %}

{% block pageTitle %}
  Home phone number – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/index" class="dwp-header__link">Later life</a>
</div>
          {% include './_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include './_namebar.html' %}


<!-- tags design WIP
      <strong class="govuk-tag govuk-!-margin-right-2">
        Receiving State Pension 
      </strong>
      
      <strong class="govuk-tag govuk-!-margin-bottom-0">
        Receiving Pension Credit
      </strong>
<br><br>
-->

      {{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  })
}}

<form method="post" action="add-corr-address-confirm">
<h2 class="govuk-heading-l">Correspondence address</h2>

<div class="govuk-form-group">
  <label class="govuk-label" for="propertynumber">
    Property number or name
  </label>
  <input class="govuk-input govuk-input--width-10" id="propertynumber" name="propertynumber" type="text" spellcheck="false">
</div>
<div class="govuk-form-group">
  <label class="govuk-label" for="postcode">
    UK postcode
  </label>
  <input class="govuk-input govuk-input--width-5" id="postcode" name="postcode" spellcheck="false">
</div>





<button type="submit" class="govuk-button" data-module="govuk-button">
Confirm
</button>



        <!-- <p class="govuk-body">
          <a href="#" class="govuk-link">Enter an international address</a>
        </p>
         -->


    </div>

  </div>

{% endblock %}
