{{ mojPrimaryNavigation({
  label: 'Primary navigation',
  items: [
    {
      text: 'Claimant details',
      href: 'option-2'
    },
    {
      text: 'State Pension',
      href: 'option-2-sp'
    },
    {
      text: 'Pension Credit',
      href: 'option-2-pc',
      active: true
    }
  ]
}) }}

{{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: 'Award',
    href: '#',
    active: true
  }, {
    text: 'Payment',
    href: '#'
  } , {
      text: 'Income',
      href: '#'
  }]
}) }}