{{ mojSubNavigation({
    label: 'Sub navigation',
    items: [{
      text: 'Personal',
      href: 'personal',
      active: true
    }, {
      text: 'Contact',
      href: 'contact'
    }, {
      text: 'Income',
      href: 'income'
    }, {
      text: 'State Pension award',
      href: 'award-sp'
    }, {
        text: 'State Pension payment',
        href: 'payment-sp'
    }, {
        text: 'Pension Credit award',
        href: 'award-pc'
    }, {
        text: 'Pension Credit payments',
        href: 'payment-pc'
    }]
  }) }}