{{ mojPrimaryNavigation({
  label: 'Primary navigation',
  items: [
    {
      text: 'Claimant details',
      href: 'personal'
    },
    {
      text: 'State Pension',
      href: 'award-sp'
    },
    {
      text: 'Pension Credit',
      href: 'award-pc',
      active: true
    }
  ]
}) }}

{{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: 'Award',
    href: 'award-pc'
  }, {
    text: 'Payment',
    href: 'payment-pc',
    active: true
  } , {
      text: 'Income',
      href: 'income'
  }]
}) }}