<div class="dwp-timeline">
  <h2 class="govuk-heading-m">State Pension award changes</h2>
  <ol class="dwp-timeline__events">
    <li class="dwp-timeline__events--entry">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Action</h2>
      <p class="govuk-caption-m govuk-!-margin-bottom-1">Agent/System/Online</p>
      <p class="govuk-caption-m govuk-!-margin-bottom-1">14 May 2024</p>
      <p class="govuk-caption-m"><a href="">Details</a></p>
    </li>
    <li class="dwp-timeline__events--entry">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Action</h2>
      <p class="govuk-caption-m govuk-!-margin-bottom-1">Agent/System/Online</p>
      <p class="govuk-caption-m govuk-!-margin-bottom-1">13 May 2024</p>
      <p class="govuk-caption-m"><a href="">Details</a></p>
    </li>
    <li class="dwp-timeline__events--entry">
      <p class="govuk-caption-m"><a href="">Full history</a></p>
    </li>
  </ol>
</div>
