{% extends "layouts/main.html" %}

{% block pageTitle %}
  Personal – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/index" class="dwp-header__link">{{serviceName}}</a>
</div>
        {% include '../_nav-auto-cis.html' %}
</div>
</header>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
      {% if data['endEntitlement'] == 'end' %}
        <h3 class="govuk-notification-banner__heading">
          Entitlement ended
        </h3>
      {% else %}
      <h3 class="govuk-notification-banner__heading">
          Claimant moved
        </h3>
      {% endif %}
      </div>
    </div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
   
     <h1 class="govuk-heading-xl">
  Eric Erikson<br>
  <span class="govuk-caption-xl">QQ 12 34 56 C</span>
  {% if data['dead'] == 'yes' %}
  <strong class="govuk-tag govuk-tag--grey">
  Dead
</strong>
  </h1>
       {% include '../_move-or-end-link.html' %}
  {% endif %}
      
      <nav class="moj-sub-navigation" aria-label="Sub navigation">

  <ul class="moj-sub-navigation__list">
    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" aria-current="page" href="personal">Personal</a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" href="money">Money</a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" href="contact">Contact</a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" href="award">Award</a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" href="payment">Payment</a>
    </li>

    <!-- <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" href="history">Full history</a>
    </li>-->
  </ul>

</nav>


<h2 class="govuk-heading-m">Personal details</h2>
  <dl class="govuk-summary-list govuk-!-margin-bottom-7">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Full name
    </dt>
    <dd class="govuk-summary-list__value">
    Eric Erikson
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#"><span class="govuk-visually-hidden">name</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      National Insurance number
    </dt>
    <dd class="govuk-summary-list__value">
      QQ 12 34 56 C
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> customer reference</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date of birth
    </dt>
    <dd class="govuk-summary-list__value">
      9 January 1959
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">    <span class="govuk-visually-hidden"> date of birth</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      State Pension date
    </dt>
    <dd class="govuk-summary-list__value">
       9 January 2025
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">  <span class="govuk-visually-hidden"> address</span></a>
    </dd>
  </div>
  <!-- Removing marital status for MVP
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Marital status
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">Never been married</p>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">  <span class="govuk-visually-hidden"> marital details</span></a>
    </dd>
  </div>-->
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Lived or worked abroad
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">No</p>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">  <span class="govuk-visually-hidden"> worked abroad</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Marital status
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">Married</p>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="marital-details"> Details</a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Partner
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">No</p>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="./partner/live-with-you"> Add</a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Other people living at this address
    </dt>
    <dd class="govuk-summary-list__value">
     
      <p class="govuk-body">No</p>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="age?first-other=yes">Add</a>
    </dd>
   
  </div>
</dl>


<!--Suspend benefits de-scoped for MVP (this link take your into the suspend journey)
<p class="govuk-body">
  <a href="suspend-benefit" class="govuk-link govuk-link--no-visited-state">Suspend payments</a>
</p>-->


  </div>

{% if data['others'] != 'none' %}
  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-m">Personal changes</h1>
    <div class="dwp-timeline">
      <ol class="dwp-timeline__items">
        <li class="dwp-timeline__item">
          <p class="dwp-timeline__datetime">9 January 2025 at 3:14pm</p>
          <h2 class="dwp-timeline__heading">Claim received</h2>
        </li>
      </ol>
    </div>
    <p><a href="full-history" class="govuk-link govuk-link--no-visited-state">Full history</a></p>
  </div>
{% endif %}


</div>

{% endblock %}
