{% extends "layouts/main.html" %}

{% block pageTitle %}
  Result – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/index" class="dwp-header__link">{{serviceName}}</a>
</div>
          {% include '../_nav-auto-cis.html' %}
</div>
</header>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          Task complete
        </h3>
      </div>
    </div>
</div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

       



        <h1 class="govuk-heading-xl">Tasks</h1>



<br>
<br>

        <form method="post">

         



     </form></div>  </div>      <br>


     <div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
<h1 class="govuk-heading-m">Death
<p class="govuk-body-l"><a href="task-death" class="govuk-link"><b>Get next task</b></a></p></h1>

</div>
<div class="govuk-grid-column-one-quarter">
  {% if data['task'] == 'death' %}
   <h3 class="govuk-heading-l">6
     <p class="govuk-body govuk-!-font-size-24">total tasks</p>
   </h3>
</div>
  {% else %}
<h3 class="govuk-heading-l">7
     <p class="govuk-body govuk-!-font-size-24">total tasks</p>
   </h3>
</div>
  {% endif %}
</div>


<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
<br>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
<h1 class="govuk-heading-m">Address
<p class="govuk-body-l"><a href="task-address" class="govuk-link"><b>Get next task</b></a></p></h1>
</div>

<div class="govuk-grid-column-one-half">
{% if data['task'] == 'address' %}
   <h3 class="govuk-heading-l">27
     <p class="govuk-body govuk-!-font-size-24">total tasks</p>
   </h3>
</div>
  {% else %}
  <h3 class="govuk-heading-l">28
     <p class="govuk-body govuk-!-font-size-24">total tasks</p>
   </h3>
</div>
  {% endif %}
</div>


<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
<br>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
<h1 class="govuk-heading-m">Date of birth
<p class="govuk-body-l"><a href="task-date-of-birth" class="govuk-link"><b>Get next task</b></a></p></h1>
</div>

<div class="govuk-grid-column-one-half">
{% if data['task'] == 'dob' %}
   <h3 class="govuk-heading-l">1
     <p class="govuk-body govuk-!-font-size-24">total tasks</p>
   </h3>
</div>

  {% else %}
  <h3 class="govuk-heading-l">2
     <p class="govuk-body govuk-!-font-size-24">total tasks</p>
   </h3>
</div>

  {% endif %}
</div>

<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
<br>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
<h1 class="govuk-heading-m">Name
<p class="govuk-body-l"><a href="task-name" class="govuk-link"><b>Get next task</b></a></p></h1>

</div>
<div class="govuk-grid-column-one-half">
{% if data['task'] == 'name' %}
   <h3 class="govuk-heading-l">5
     <p class="govuk-body govuk-!-font-size-24">total tasks</p>
   </h3>
</div>

  {% else %}
  <h3 class="govuk-heading-l">6
     <p class="govuk-body govuk-!-font-size-24">total tasks</p>
   </h3>
</div>

  {% endif %}
</div>

</div>

       <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
       <br>








  </div>

{% endblock %}
