{% extends "layouts/main.html" %}

{% block pageTitle %}
  Result – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/index" class="dwp-header__link">{{serviceName}}</a>
</div>
        {% include '../_nav-auto-cis.html' %}

</header>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

{% include '../_namebar.html' %}

{{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  })
}}
<br><br>

<p class="govuk-body-l" style="margin-bottom: 10px;">Eric's date of birth was updated on 10 January 2026</p>

<p class="govuk-body">New date of birth: 14 December 1957</p><br>
     

  <form method="post" action="personal?dead=no">

  <p class="govuk-body">You need to check Eric's Pension Credit record, and the Standard Working Instructions (SWI), to find out if:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Eric is still entitled to Pension Credit</li>
    <li>the record can remain in this system</li>
  </ul><br><br>

  <button type="submit" class="govuk-button" data-module="govuk-button">
        View this record
      </button>

    </form>

</div>


    </div>


{% endblock %}
