{% extends "layouts/record-view.html" %}

{% block pageTitle %}
  Income – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      {% include '../../includes/user-details.html' %}
      {% include '../../includes/nav-primary-and-secondary-income.html' %}
      <h2 class="govuk-heading-l">
        Income
      </h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            State Pension
          </dt>
          <dd class="govuk-summary-list__value">
            £142.65
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Total income
          </dt>
          <dd class="govuk-summary-list__value">
            £142.65 per week
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
      </dl>
  </div>
<div class="govuk-grid-column-one-third">
  {% include '../../includes/timeline-income.html' %}
</div>
</div>

{% endblock %}
