{% extends "layouts/main.html" %}

{% block pageTitle %}
Spending abroad: Evidence gathering – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
  <div class="dwp-header__content govuk-width-container">
    <div class="dwp-header__service-name">
      <a href="/index" class="dwp-header__link">{{serviceName}}</a>
    </div>
    {% include './_nav.html' %}
  </div>
</header>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './_namebar.html' %}

    <h1 class="govuk-heading-l">Spending abroad:
      evidence gathering</h1>

    <div class="govuk-!-margin-bottom-9"></div>

    <h2 class="govuk-heading-m">Overview</h2>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Spending period
    </dt>
    <dd class="govuk-summary-list__value">
      19 January to 23 February 2026
    </dd>
  </div>
</dl>
<br>

    <div class="app-check-your-answers app-check-your-answers--short">
      <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Bank accounts</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Bank name</th>
      <th scope="col" class="govuk-table__header app-custom-class">Type</th>
      <th scope="col" class="govuk-table__header app-custom-class">Account holder/s</th>
      <th scope="col" class="govuk-table__header app-custom-class">Account number</th>
      <th scope="col" class="govuk-table__header app-custom-class">Spending activity</th>
      
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">M&S Bank</th>
      <td class="govuk-table__cell">Primary</td>
      <td class="govuk-table__cell">Mr Khan</td>
      <td class="govuk-table__cell">XXXX6746</td>
      <td class="govuk-table__cell">18 February 2026</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">First Direct</th>
       <td class="govuk-table__cell">Other</td>
      <td class="govuk-table__cell">Mrs Khan</td>
      <td class="govuk-table__cell">XXXX8725</td>
      <td class="govuk-table__cell">N/A</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">HSBC</th>
      <td class="govuk-table__cell">Other</td>
      <td class="govuk-table__cell">Mr Khan, Mrs Khan</td>
      <td class="govuk-table__cell">XXXX9000</td>
      <td class="govuk-table__cell">19 January to 23 February 2026</td>
    </tr>
  </tbody>
</table>
    </div>
    

    <div class="govuk-!-margin-bottom-9"></div>
    <form method="post" action="/abroad-evidence">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" id="abroadEvidence">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              What is the outcome of this task?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="abroadEvidence-1" name="abroadEvidence" type="radio" value="none">
              <label class="govuk-label govuk-radios__label" for="abroadEvidence-1">
                Case closed as no action required
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="abroadEvidence-2" name="abroadEvidence" type="radio" value="died">
              <label class="govuk-label govuk-radios__label" for="abroadEvidence-2">
                Customer has died
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="abroadEvidence-3" name="abroadEvidence" type="radio"
                value="absence">
              <label class="govuk-label govuk-radios__label" for="abroadEvidence-3">
                Spending period was a temporary absence
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="abroadEvidence-4" name="abroadEvidence" type="radio"
                value="suspend">
              <label class="govuk-label govuk-radios__label" for="abroadEvidence-4">
                Claim suspended
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="abroadEvidence-5" name="abroadEvidence" type="radio"
                value="terminated">
              <label class="govuk-label govuk-radios__label" for="abroadEvidence-5">
                Claim terminated
              </label>
            </div>
            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="abroadEvidence-6" name="abroadEvidence" type="radio"
                value="postpone">
              <label class="govuk-label govuk-radios__label" for="abroadEvidence-6">
                Postpone task
              </label>
            </div>
          </div>
        </fieldset>

      </div>
      <div>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <a href="tasks" class="govuk-button govuk-button--secondary govuk-!-margin-left-2"
          data-module="govuk-buttone-exit">Return task to
          queue</a>
      </div>
    </form>



    {% endblock %}