{% extends "layouts/main.html" %}

{% block pageTitle %}
Postpone – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
  <div class="dwp-header__content govuk-width-container">
    <div class="dwp-header__service-name">
      <a href="/later-life-patterns" class="dwp-header__link">Later life</a>
    </div>
    {% include './_nav.html' %}
  </div>
</header>

{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './_namebar.html' %}

    {{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
    })
    }}
    <form action="/postpone-date" method="aption-l"> </span>
      <h1 class="govuk-heading-l">When should the task be postponed to?</h1>

      <div id="postpone-date-hint" class="govuk-hint">
        For example, 27 3 2007
      </div>

      <div class="govuk-date-input" id="postpone-date">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="postpone-date-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="postpone-date-day"
              name="postpone-date-day" type="text" inputmode="numeric">
          </div>
        </div>

        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="postpone-date-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="postpone-date-month"
              name="postpone-date-month" type="text" inputmode="numeric">
          </div>
        </div>

        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="postpone-date-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="postpone-date-year"
              name="postpone-date-year" type="text" inputmode="numeric">
          </div>
        </div>
      </div>
    </form>
    <div class="govuk-button-group">
      <a href="tasks-success.html" class="govuk-button" data-module="govuk-buttone-exit"
        data-module="govukk-grid-column-one-third">Confirm</a>

    </div>

    {% endblock %}