{% extends "layouts/main.html" %}

{% block pageTitle %}
Underpayment – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
  <div class="dwp-header__content govuk-width-container">
    <div class="dwp-header__service-name">
      <a href="/later-life-patterns" class="dwp-header__link">Later life</a>
    </div>
    {% include './_nav.html' %}
  </div>
</header>

{% endblock %}

{% block content %}

{% include './_namebar.html' %}

{{ govukBackLink({
"text": "Back",
"href": "javascript: window.history.go(-1)"
}) }}

<h1 class="govuk-heading-l">
  Record underpayment details
</h1>

<div class="govuk-form-group">
  <label class="govuk-label govuk-!-font-weight-bold" for="current-weekly-payment">
    Current weekly award
  </label>
  <div id="current-weekly-payment-hint" class="govuk-hint">
    For example 123.45
  </div>
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="current-weekly-payment" name="weekly-payment" type="text"
      inputmode="decimal">
  </div>
</div>

<div class="govuk-form-group">
  <label class="govuk-label govuk-!-font-weight-bold" for="new-weekly-payment">
    New weekly award
  </label>
  <div id="new-weekly-payment-hint" class="govuk-hint">
    For example 123.45
  </div>
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="new-weekly-payment" name="weekly-payment" type="text"
      inputmode="decimal">
  </div>
</div>




<form action="/EVS/recordUnder" method="post">

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="overpayment-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          Underpayment categorisation
        </h1>
      </legend>

      <div id="overpayment-hint" class="govuk-hint">
        Select the options that apply
      </div>

      <div class="govuk-checkboxes" data-module="govuk-checkboxes">

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="overpayment" name="under" type="checkbox" value="underpayment"
            data-aria-controls="conditional-Offical">
          <label class="govuk-label govuk-checkboxes__label" for="overpayment">
            Offical error
          </label>
        </div>
        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-Offical">
          <div class="govuk-form-group">
            <label class="govuk-label" for="overpayment-offical">
              Amount
            </label>
            <div class="govuk-input__wrapper">
              <div class="govuk-input__prefix" aria-hidden="true">£</div>
              <input class="govuk-input govuk-input--width-5" id="overpayment-offical" name="underValue" type="number">
            </div>

          </div>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="underclaimant" name="under" type="checkbox" value="underpayment"
            data-aria-controls="conditional-claimant">
          <label class="govuk-label govuk-checkboxes__label" for="underclaimant">
            Claimant error
          </label>
        </div>
        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-claimant">
          <div class="govuk-form-group">
            <label class="govuk-label" for="overpayment-claimant">
              Amount
            </label>
            <div class="govuk-input__wrapper">
              <div class="govuk-input__prefix" aria-hidden="true">£</div>
              <input class="govuk-input govuk-input--width-5" id="overpayment-claimant" name="underValue" type="number">
            </div>

          </div>
        </div>
        <br>
        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="new-weekly-payment">
            Total underpayment
          </label>
          <div id="new-weekly-payment-hint" class="govuk-hint">
            For example 123.45
          </div>
          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">£</div>
            <input class="govuk-input govuk-input--width-5" id="new-weekly-payment" name="underValue" type="number"
              inputmode="decimal">
          </div>
        </div>
      </div>
    </fieldset>

  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="overpayment-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          Paid customer arrears
        </h1>
      </legend>

      <div class="govuk-radios" data-module="govuk-radios">

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="overpaymentYes" name="under" type="radio" value="underpayment"
            data-aria-controls="conditional-overpayment">
          <label class="govuk-label govuk-radios__label" for="overpayment">
            Yes
          </label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-overpayment">
          <div class="govuk-form-group">
            <label class="govuk-label" for="arrearsValue">
              Amount
            </label>
            <div class="govuk-input__wrapper">
              <div class="govuk-input__prefix" aria-hidden="true">£</div>
              <input class="govuk-input govuk-input--width-5" id="arrearsValue" name="arrearsValue" type="number">
            </div>

          </div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="overpaymentNo" name="under" type="radio" value="underpayment"
            data-aria-controls="conditional-claimant">
          <label class="govuk-label govuk-radios__label" for="overpayment">
            No
          </label>
        </div>

      </div>
    </fieldset>
  </div>

  <button type="submit" class="govuk-button" data-module="govuk-button">
    Confirm
  </button>
</form>


{% endblock %}