{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">
    Navigation options
  </h1>
    <ul class="govuk-list">
      <li>
      <a class="govuk-link" href="mvp/0/nav-options/option-1">Option 1</a>
      </li>
      <li>
        <a class="govuk-link" href="mvp/0/nav-options/option-1-full/personal.html">Option 1 - end to end</a>
      </li>
      <li>
        <a class="govuk-link" href="mvp/0/nav-options/option-4">Option 1 with full width nav</a>
      </li>
      <li>
        <a class="govuk-link" href="mvp/0/nav-options/option-2">Option 2</a>
      </li>
      <li>
        <a class="govuk-link" href="mvp/0/nav-options/option-5">Option 2 with full width nav</a>
      </li>
      <li>
        <a class="govuk-link" href="mvp/0/nav-options/option-3">Option 3</a>
      </li>
    </ul>

  </div>
</div>

{% endblock %}