{% extends "layouts/main.html" %}

{% block pageTitle %}
  Award {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/index" class="dwp-header__link">Later life</a>
</div>
          {% include './_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include './_namebar.html' %}

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="personal">Personal</a>
        </li>

        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="contact">Contact</a>
        </li>

        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="award">Award</a>
        </li>

        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="payment">Payment</a>
        </li>

      </ul>


<br><br>

<table class="govuk-table">

  <tbody class="govuk-table__body">
    <caption class="govuk-table__caption govuk-table__caption--l">New Pension Credit award</caption>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" scope="col" style="width: 50%">From</th>
      <td class="govuk-table__cell">13 April 2025</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">4 weekly amount</th>
      <td class="govuk-table__cell">&pound;80.84</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Reason</th>
      <td class="govuk-table__cell">Annual uprating</td>
    </tr>
  </tbody>
</table>


      <table class="govuk-table">

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" scope="col" style="width: 50%">Total</th>
            <th scope="row" class="govuk-table__header">&pound;20.21 a week</th>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Guarantee credit</td>
            <td class="govuk-table__cell">&pound;20.21</td>
          </tr>
        </tbody>
      </table>


<table class="govuk-table">
  <tbody class="govuk-table__body">
    <caption class="govuk-table__caption govuk-table__caption--m">How Guarantee Credit is calculated</caption>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" scope="col" style="width: 50%">Appropriate minimum guarantee</th>
      <td class="govuk-table__header">&pound;255.31</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Standard minimum guarantee for single people</td>
      <td class="govuk-table__cell">&pound;255.31</td>
    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" scope="col" style="width: 50%">Total weekly income</th>
      <td class="govuk-table__header">&pound;235.10</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">State Pension</td>
      <td class="govuk-table__cell">&pound;235.10</td>
    </tr>
  </tbody>
</table>


    <div class="govuk-inset-text">
      <p class="govuk-body">Calculation:</p>
      <p class="govuk-body">&pound;255.31 (appropriate minimum guarantee) - &pound;235.10 (total weekly income) = &pound;20.21 (Guarantee Credit)</p>
     </div>




<a href="award" class="govuk-button">Back to awards</a>
</div>   
<!--
<div class="govuk-grid-column-one-third">
  <div class="dwp-timeline">
  <h1 class="govuk-heading-m">Award changes</h1>
  <ol class="dwp-timeline__events">
    <li class="dwp-timeline__events--entry">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">State Pension adjustment</h2>
      <p class="govuk-caption-m govuk-!-margin-bottom-1">System</p>
      <p class="govuk-caption-m govuk-!-margin-bottom-1">5 July 2024</p>
      <p class="govuk-caption-m"><a href="#" class="govuk-link govuk-link--no-visited-state">Details</a></p>
    </li>
    <li class="dwp-timeline__events--entry">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">State Pension award</h2>
      <p class="govuk-caption-m govuk-!-margin-bottom-1">System</p>
      <p class="govuk-caption-m govuk-!-margin-bottom-1">9 April 2024</p>
      <p class="govuk-caption-m"><a href="#" class="govuk-link govuk-link--no-visited-state">Details</a></p>
    </li>
    <li class="dwp-timeline__events--entry">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">State Pension first award</h2>
      <p class="govuk-caption-m govuk-!-margin-bottom-1">System</p>
      <p class="govuk-caption-m govuk-!-margin-bottom-1">13 April 2023</p>
      <p class="govuk-caption-m"><a href="#" class="govuk-link govuk-link--no-visited-state">Details</a></p>
    </li>
  <li class="dwp-timeline__events--entry">
  <p><a href="#" class="govuk-link govuk-link--no-visited-state">Full history</a></p>
  </li>
  </ol>
  </div>
</div>

  </div>
-->

</div>




{% endblock %}
