{% extends "layouts/main.html" %}

{% block pageTitle %}
  Bank account name – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/index" class="dwp-header__link">Later life</a>
</div>
          {% include './_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include './_namebar.html' %}

      {{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  })
}}


    <form method="post" action="payment">

      <span class="govuk-caption-l">Pension Credit and State Pension</span>

      <h2 class="govuk-heading-l">
        Check the details before updating their record
      </h2>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Update account details for</th>
            <td class="govuk-table__cell" style="width: 50%">
                  {% if data['changebank'] === 'pc' %}
                  Pension Credit only
                  {% elseif data['changebank'] === 'sp' %}
                  State Pension only
                  {% else %}
                  Both Pension Credit and State Pension
                  {% endif %}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Account holder name</th>
            <td class="govuk-table__cell">
                              {% if data['changebank'] === 'pc' %}
                              {{data.pcaccountname}}
                              {% elseif data['changebank'] === 'sp' %}
                              {{data.spaccountname}}
                              {% else %}
                              {{data.accountname}}
                              {% endif %}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Sort code</th>
            <td class="govuk-table__cell">
              {% if data['changebank'] === 'pc' %}
              {{data.pcsortcode}}
              {% elseif data['changebank'] === 'sp' %}
              {{data.spsortcode}}
              {% else %}
              {{data.sortcode}}
              {% endif %}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Account number</th>
            <td class="govuk-table__cell">
              {% if data['changebank'] === 'pc' %}
              {{data.pcaccountnumber}}
              {% elseif data['changebank'] === 'sp' %}
              {{data.spaccountnumber}}
              {% else %}
              {{data.accountnumber}}
              {% endif %}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Building society roll or reference number</th>
            <td class="govuk-table__cell">
              {% if data['changebank'] === 'pc' %}
                {{data.pcrollnumber}}
              {% elseif data['changebank'] === 'sp' %}
                {{data.sprollnumber}}
              {% else %}
                {{data.rollnumber}}
              {% endif %}</td>
          </tr>
          <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Bank name</th>
              <td class="govuk-table__cell">
                Lloyds</td>
            </tr>
        </tbody>
      </table>


<button type="submit" class="govuk-button" data-module="govuk-button">
  Confirm
</button>



    </div>





  </div>

{% endblock %}
