{% extends "layouts/main.html" %}

{% block pageTitle %}
  Home phone number – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/index" class="dwp-header__link">Later life</a>
</div>
          {% include './_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include './_namebar.html' %}

<!-- tags design WIP
      <strong class="govuk-tag govuk-!-margin-right-2">
        Receiving State Pension 
      </strong>
      
      <strong class="govuk-tag govuk-!-margin-bottom-0">
        Receiving Pension Credit
      </strong>
<br><br>
-->

      {{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  })
}}

      <form method="post" action="contact-success-change-corr-address">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Confirm full correspondence address
              </h1>
            </legend>
            <p class="govuk-body">
              3 addresses found for <strong>3</strong> and <strong>M4 1LE.</strong> <a href="change-corr-address" class="govuk-link govuk-!-margin-left-1"> Search again</a>
            </p>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="1 Elm Street">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                  3 Oldham Street, Manchester, M4 1LE
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="10 Elm Street">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                  13 Fleet Street, Manchester, M4 1LE
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="11 Elm Streetotland">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                  33 Fleet Street, Manchester, M4 1LE
                </label>
              </div>
  
            </div>
          </fieldset>
        </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Use this address
      </button>

    </form>

   <!-- Future design iteration to add the enter add manually link
   <p class="govuk-body">
      <a href="change-address-manual" class="govuk-link"> Enter address manually</a>
    </p>
-->
    </div>

  </div>

{% endblock %}
