{% extends "layouts/main.html" %}

{% block pageTitle %}
  Remove email address – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/index" class="dwp-header__link">Later life</a>
</div>
          {% include './_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include './_namebar.html' %}


      {{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  })
}}



          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <!-- <span class="govuk-caption-l">Pension Credit and State Pension</span> -->
            <h1 class="govuk-fieldset__heading">
            Remove the correspondence adress from this account
            </h1><br>
            <p class="govuk-body">49 Featherstone Street,<br> London,<br> EC1Y 8SY<br></p>
          </legend>

          <button type="submit" class="govuk-button govuk-button--warning govuk-!-margin-right-1" data-module="govuk-button">
            Remove address
          </button>
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel
          </button>




    </div>





  </div>

{% endblock %}
