{% extends "layouts/main.html" %}

{% block pageTitle %}
  Home phone number – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/index" class="dwp-header__link">{{serviceName}}</a>
</div>
          {% include './_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include './_namebar.html' %}

<!-- tags design WIP
      <strong class="govuk-tag govuk-!-margin-right-2">
        Receiving State Pension 
      </strong>
      
      <strong class="govuk-tag govuk-!-margin-bottom-0">
        Receiving Pension Credit
      </strong>
<br><br>
-->

      {{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  })
}}

<form class="form" action="/payNextConfirm" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Do you want to pay the next Pension Credit payment?
              </h1>
            </legend>

            <div class="govuk-inset-text">
              They will get £12.16 on Friday 14 August 2025. 
              <br><br>This is for the period Friday 15 July 2025 to Thursday 13 August 2025.
            </div>

      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="payNextConfirm" name="payNextConfirm" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="payNextConfirm">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="payNextConfirm-2" name="payNextConfirm" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="payNextConfirm-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

    </div>

  </div>

{% endblock %}
