{% extends "layouts/main.html" %}

{% block pageTitle %}
  Result – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/index" class="dwp-header__link">{{serviceName}}</a>
</div>
          {% include './_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

{% include './_namebar.html' %}

{{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  })
}}


<h1 class="govuk-heading-l">Enter summary of housing costs</h1>
     

  <form method="post" action="housing-costs-cya2">

  
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--s" for="cost">
      Rents or ground rents on long tenancies
    </label>
  </h1>
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="el-cost1" name="el-cost1" type="text" spellcheck="false">
  </div>
</div>
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--s" for="cost">
      Service charges
    </label>
  </h1>
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="el-cost2" name="el-cost2" type="text" spellcheck="false">
  </div>
</div>
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--s" for="cost">
      Payments by way of rent charges (annual fee)
    </label>
  </h1>
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="el-cost3" name="el-cost3" type="text" spellcheck="false">
  </div>
</div>
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--s" for="cost">
      Payments under co-ownership schemes
    </label>
  </h1>
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="el-cost4" name="el-cost4" type="text" spellcheck="false">
  </div>
</div>
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--s" for="cost">
      Payments for tenancies or licenses of Crown rents
    </label>
  </h1>
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="el-cost5" name="el-cost5" type="text" spellcheck="false">
  </div>
</div>
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--s" for="cost">
      Payments for tents and their sites
    </label>
  </h1>
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="el-cost6" name="el-cost6" type="text" spellcheck="false">
  </div>
</div>


<br><br>


  <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

   </div>

 
    </div>


{% endblock %}


