{% extends "layouts/main.html" %}

{% block pageTitle %}
  Result – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/index" class="dwp-header__link">{{serviceName}}</a>
</div>
          {% include './_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% include './_namebar.html' %}
    

{{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  })
}}


<br><br> 
<h1 class="govuk-heading-l">Enter housing costs included in the service charges</h1>
<br>


<br>
  <form method="post" action="tor-hc-claimant-insurance-major">

  
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--s" for="cost">
      Ground rents on long tenancies
    </label>
  </h1><br>
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-s" style="font-weight:normal">Eligible</h2>
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="cost1p" name="cost1p" type="text" spellcheck="false">
  </div>
  </div>
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-s" style="font-weight:normal">Frequency</h2>
     <div class="govuk-form-group">
      <select class="govuk-select" id="sort-1" name="sort-1">
         <option value="" selected>Select a frequency</option>
        <option value="Calendar monthly">Calendar monthly</option>
        <option value="Quarterly">Quarterly</option>
        <option value="Half yearly">Half yearly</option>
        <option value="Yearly">Yearly</option>
      </select>
    </div>
  </div>
</div><br>
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--s" for="cost">
      Service charges
    </label>
  </h1>
  <div id="event-name-hint" class="govuk-hint" style="margin-bottom:5px">
    Include insurance if listed in the breakdown.
  </div><br>
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-s" style="font-weight:normal">Eligible</h2>
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="cost2p" name="cost2p" type="text" spellcheck="false">
  </div><br><br>
  <h2 class="govuk-heading-s" style="font-weight:normal">Ineligible</h2>
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="cost2r" name="cost2r" type="text" spellcheck="false">
  </div>
  </div>
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-s" style="font-weight:normal">Frequency</h2>
     <div class="govuk-form-group">
      <select class="govuk-select" id="sort-2" name="sort-2">
         <option value="" selected>Select a frequency</option>
        <option value="Calendar monthly">Calendar monthly</option>
        <option value="Quarterly">Quarterly</option>
        <option value="Half yearly">Half yearly</option>
        <option value="Yearly">Yearly</option>
      </select>
    </div>
  </div>
  
</div><br>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--s" for="cost">
      Payments under co-ownership schemes
    </label>
  </h1>
  <br>
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-s" style="font-weight:normal">Eligible</h2>
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="cost3p" name="cost3p" type="text" spellcheck="false">
  </div>
  </div>
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-s" style="font-weight:normal">Frequency</h2>
     <div class="govuk-form-group">
      <select class="govuk-select" id="sort-3" name="sort-3">
         <option value="" selected>Select a frequency</option>
        <option value="Calendar monthly">Calendar monthly</option>
        <option value="Quarterly">Quarterly</option>
        <option value="Half yearly">Half yearly</option>
        <option value="Yearly">Yearly</option>
      </select>
    </div>
  </div>
</div><br>
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--s" for="cost">
      Payments for tenancies or licenses of Crown rents
    </label>
  </h1>
 <br>
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-s" style="font-weight:normal">Eligible</h2>
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="cost4p" name="cost4p" type="text" spellcheck="false">
  </div>
  </div>
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-s" style="font-weight:normal">Frequency</h2>
     <div class="govuk-form-group">
      <select class="govuk-select" id="sort-4" name="sort-4">
         <option value="" selected>Select a frequency</option>
        <option value="Calendar monthly">Calendar monthly</option>
        <option value="Quarterly">Quarterly</option>
        <option value="Half yearly">Half yearly</option>
        <option value="Yearly">Yearly</option>
      </select>
    </div>
  </div>
</div><br><br><br><br>


  <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

   </div>

 
    </div>


{% endblock %}


