{% extends "layouts/main.html" %}

{% block pageTitle %}
  Result – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/index" class="dwp-header__link">{{serviceName}}</a>
</div>
          {% include './_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% include './_namebar.html' %}
    

{{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  })
}}
      <br>  <br>
      <span class="govuk-caption-l">About Jimmy Erikson</span>
<h1 class="govuk-heading-l">Jimmy's earnings will be recorded as the highest amount</h1>
<p class="govuk-body">If Eric does not provide Jimmy's earning information, we will record Jimmy's earnings as the highest amount.</p>

<p class="govuk-body">This may affect Eric's housing costs or Pension Credit entitlement.</p>

<p class="govuk-body">In order to award Eric the correct amount, they can either tell us Jimmy's earnings now or call back to make a change to their application.</p><br>


  <form method="post" action="tor-hc-lwo-benefits">

 
<button type="submit" class="govuk-button" data-module="govuk-button">
  Record highest earnings amount and continue
</button>

    </form>

   </div>

 
    </div>


{% endblock %}

