{% extends "layouts/main.html" %}

{% block pageTitle %}
  Mobile phone number – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/index" class="dwp-header__link">{{serviceName}}</a>
</div>
          {% include './_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include './_namebar.html' %}

      {{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  })
}}

   {% if data['lwo'] == 'yes'%}
     <form method="post" action="outstanding-tasks-hc-claimant"><br>
      {% else %}
    <form method="post" action="award-change"><br>
      {% endif %}

        <h2 class="govuk-heading-l">Check your answers for Eric Erikson</h2><br>
        <h2 class="govuk-heading-m">Housing costs</h2>
       
        <dl class="govuk-summary-list" style="margin-bottom:0px">
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            </dt>
            <dd class="govuk-summary-list__value" style="width:20%">
              Cost amount
            </dd>
            <dd class="govuk-summary-list__value" style="width:20%">
             Frequency
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Ground rents on long tenancies
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['cost1p'] %}
                £{{ data['cost1p'] }}
              {% else %}
                None
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__value">
             {% if data['sort-1'] %}
                {{ data['sort-1'] }}
              {% else %}
                n/a
              {% endif %}
            </dd>
           
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Eligible service charges
            </dt>
            <dd class="govuk-summary-list__value">
             {% if data['cost2p'] %}
                £{{ data['cost2p'] }}
              {% else %}
                None
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__value">
               {% if data['sort-2'] %}
                {{ data['sort-2'] }}
              {% else %}
                n/a
              {% endif %}
            </dd>
         
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Ineligible service charges
            </dt>
            <dd class="govuk-summary-list__value">
             {% if data['cost2p'] %}
                £{{ data['cost2p'] }}
              {% else %}
                None
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__value">
             
                n/a
         
            </dd>
         
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
         
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Payments under co-ownership schemes
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['cost3p'] %}
                £{{ data['cost3p'] }}
              {% else %}
                None
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__value">
               {% if data['sort-3'] %}
                {{ data['sort-3'] }}
              {% else %}
                n/a
              {% endif %}
            </dd>
          
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Payments for tenancies or licenses of Crown rents
            </dt>
            <dd class="govuk-summary-list__value">
              {% if  data['cost4p'] %}
                £{{  data['cost4p'] }}
              {% else %}
                None
              {% endif %}
            </dd>
             <dd class="govuk-summary-list__value">
               {% if data['sort-4'] %}
                {{ data['sort-4'] }}
              {% else %}
                n/a
              {% endif %}
            </dd>
            
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Insurance (separate to service charges)
            </dt>
            <dd class="govuk-summary-list__value">
             {% if  data['cost5p'] %}
                £{{  data['cost5p'] }}
              {% else %}
                None
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__value">
              {% if data['sort-5'] %}
                {{ data['sort-5'] }}
              {% else %}
                n/a
              {% endif %}
            </dd>
            
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Major works (separate to service charges)
            </dt>
            <dd class="govuk-summary-list__value">
             {% if  data['cost6p'] %}
                £{{  data['cost6p'] }}
              {% else %}
                None
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__value">
              {% if data['sort-6'] %}
                {{ data['sort-6'] }}
              {% else %}
                n/a
              {% endif %}
            </dd>
            
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
           
        </dl><br><br><br>



        <h2 class="govuk-heading-m">Date information</h2>
       
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            </dt>
          </div>
        
         
         
         
         
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date housing costs changes should start from
            </dt>
            <dd class="govuk-summary-list__value">
            
                9 March 2026
            
            </dd>
           
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date claimant told us about the change
            </dt>
            <dd class="govuk-summary-list__value">
            
                27 March 2026
            
            </dd>
           
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of next housing cost review
            </dt>
            <dd class="govuk-summary-list__value">
            
                21 February 2027
            
            </dd>
            
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of next major works review
            </dt>
            <dd class="govuk-summary-list__value">
            
                11 October 2026
            
            </dd>
            
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
        </dl>
      

        
<br>

      


      <button type="submit" class="govuk-button" data-module="govuk-button">
       Confirm
      </button>

    </form>




    </div>





  </div>

{% endblock %}
