{% extends "layouts/main.html" %}

{% block pageTitle %}
  Result – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/index" class="dwp-header__link">{{serviceName}}</a>
</div>
          {% include './_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% include './_namebar.html' %}
    

{{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  })
}}


<br><br> 
<h1 class="govuk-heading-l">Enter a major works cost</h1>
<br>



 <form method="post" action="tor-hc-claimant-major-works-cya">


<p class="govuk-body">
   Major works costs are invoiced separately from the service charges. If there is more than one major works cost, you can add more on the next page.
</p><br><br>

<div class="govuk-form-group">
  
    <h2 class="govuk-heading-s">Total major works cost</h2>
   
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="cost2p" name="cost2p" type="text" spellcheck="false">
  </div><br><br>
   
</div>



<div class="govuk-form-group">
  
    <h2 class="govuk-heading-s">Enter how much of the total major works cost the claimant's home is liable for</h2>
    <div id="event-name-hint" class="govuk-hint" style="margin-bottom:5px">
   If the claimant's home is part of a larger building (for example, a flat in a block of flats, or a room in a shared property) this should be a share of the total major works cost.
  </div><br>
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="cost2p" name="cost2p" type="text" spellcheck="false">
  </div>
  <br><br>
   
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <h2 class="govuk-heading-s">Major works start date</h2>
    <div id="passport-issued-hint" class="govuk-hint">
      For example, 27 3 2007.
    </div>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div><br><br>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <h2 class="govuk-heading-s">Major works end date</h2>
    <div id="passport-issued-hint" class="govuk-hint">
      For example, 27 3 2007.
    </div>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div><br><br>


  <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

   </div>

 
    </div>


{% endblock %}


