{% extends "layouts/main.html" %}

{% block pageTitle %}
  Contact – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/index" class="dwp-header__link">Later life</a>
</div>
          {% include './_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}

<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      Email address changed
    </h3>
  </div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include './_namebar.html' %}

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="personal">Personal</a>
        </li>

        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="contact">Contact</a>
        </li>

        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="award">Award</a>
        </li>

        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="payment">Payment</a>
        </li>

        <!-- <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="history">Full history</a>
        </li>-->
      </ul>


<br><br>

        <h2 class="govuk-heading-m">Contact details</h2>


        <table class="govuk-table">


          <tbody class="govuk-table__body">


            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="width: 47%"><b>Address</b></td>
              <td class="govuk-table__cell"style="width: 43%">	12 Park Place<br>
                Carron<br>
                AB38 6HB</td>
              <td class="govuk-table__cell"style="width: 5%"></td>
              <td class="govuk-table__cell"style="width: 5%"><a class="govuk-link" href="change-address">Change</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="width: 47%"><b>Correspondence address</b></td>
              <td class="govuk-table__cell"style="width: 5%"></td>
              <td class="govuk-table__cell"style="width: 5%"></td>
              <td class="govuk-table__cell"style="width: 5%"><a class="govuk-link" href="add-correspondence-add">Add</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="width: 47%"><b>Home phone number</b></td>
              <td class="govuk-table__cell"style="width: 43%">
                {% if data['homephone-remove'] === 'yes' %}
                    {% elseif data.homephone %}
                    {{data.homephone}}
                    {% else %}
                    01632 960005
                    {% endif %}</td>

                    {% if data.homephone %}
                    <td class="govuk-table__cell"style="width: 5%"><a class="govuk-link" href="change-home-phone">Change</a></td>
                    <td class="govuk-table__cell"style="width: 5%"><a class="govuk-link" href="remove-home-phone">Remove</a></td>
                    {% else %}
                    <td class="govuk-table__cell"style="width: 5%"><a class="govuk-link" href="change-home-phone">Change</a></td>
                    <td class="govuk-table__cell"style="width: 5%"><a class="govuk-link" href="remove-home-phone">Remove</a></td>
                    {% endif %}


            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="width: 47%"><b>Mobile phone number</b></td>
              <td class="govuk-table__cell"style="width: 43%">
                {% if data['mobilephone-remove'] === 'yes' %}
                    {% elseif data.mobilephone %}
                    {{data.mobilephone}}
                    {% else %}
                    {% endif %}</td>

                    {% if data.mobilephone %}
                    <td class="govuk-table__cell"style="width: 5%"><a class="govuk-link" href="change-mobile-phone">Change</a></td>
                    <td class="govuk-table__cell"style="width: 5%"><a class="govuk-link" href="remove-mobile-phone">Remove</a></td>
                    {% else %}
                    <td class="govuk-table__cell" style="width: 5%"><a class="govuk-link" href=""></a></td>
                    <td class="govuk-table__cell" style="text-align: right" style="width: 5%"><a class="govuk-link" href="add-mobile-phone">Add</a></td>
                    {% endif %}
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="width: 47%"><b>Email address</b></td>
              <td class="govuk-table__cell"style="width: 43%">
                {% if data['email-remove'] === 'yes' %}
                    {% elseif data.email %}
                    {{data.email}}
                    {% else %}
                    {% endif %}</td>

                    {% if data.email %}
                    <td class="govuk-table__cell"style="width: 5%"><a class="govuk-link" href="change-email">Change</a></td>
                    <td class="govuk-table__cell"style="width: 5%"><a class="govuk-link" href="remove-email">Remove</a></td>
                    {% else %}
                    <td class="govuk-table__cell" style="width: 5%"><a class="govuk-link" href=""></a></td>
                    <td class="govuk-table__cell" style="text-align: right" style="width: 5%"><a class="govuk-link" href="add-email">Add</a></td>
                    {% endif %}
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="width: 47%"><b>Alternative format for letters</b></td>
              <td class="govuk-table__cell"style="width: 43%"></td>
              <td class="govuk-table__cell"style="width: 5%"></td>
              <td class="govuk-table__cell"style="width: 5%"></td>
            </tr>

            </tbody>
            </table>






    </div>


        <div class="govuk-grid-column-one-third">

          <div class="dwp-timeline">
          <h1 class="govuk-heading-m">Contact changes</h1>
          <ol class="dwp-timeline__events">
          <li class="dwp-timeline__events--entry">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Home phone number changed</h2>
            <p class="govuk-caption-m govuk-!-margin-bottom-1">Agent</p>
            <p class="govuk-caption-m govuk-!-margin-bottom-1">11 July 2024</p>
          </li>
          <li class="dwp-timeline__events--entry">
          <p><a href="#" class="govuk-link govuk-link--no-visited-state">Full history</a></p>
          </li>
          </ol>
          </div>

        </div>


  </div>

{% endblock %}
