{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="location" method="post">

        {{ govukRadios({
          name: "which-benefits",
          fieldset: {
            legend: {
              text: "Which payment account do you want to change?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "sp",
              text: "State Pension only"
            },
            {
              value: "pc",
              text: "Pension Credit only"
            },
            {
              value: "both",
              text: "Both State Pension and Pension Credit"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
