{% extends "layouts/internal-service.html" %}

{% block pageTitle %}
Where is the new bank or building society account held? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include '../../../includes/user-details.html' %}
      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.back()"
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/location-of-account" method="post">

        {{ govukRadios({
          name: "account-location",
          fieldset: {
            legend: {
              text: "Where is the new bank or building society account held?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "uk",
              text: "In the UK"
            },
            {
              value: "overseas",
              text: "Overseas"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
