{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

{% include './back-to-top.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
   
        <h1 class="govuk-heading-xl">{{serviceName}}<strong class="govuk-tag govuk-phase-banner__content__tag" style="padding-top:5px;padding-bottom:0px;margin-left:15px">
      <sup>Alpha</sup>
    </strong></h1>


<div class="govuk-service-navigation"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="../index">
              Home
            </a>
          </li>
          
      
           <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/index/index-versions">
              Iterations
            </a>
          </li>
         
           <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/index/index-personal">
              'Personal'
            </a>
          </li>
          <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="#" aria-current="true">
              <strong class="govuk-service-navigation__active-fallback">'Household'</strong>
            </a>
          </li>
           <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/index/index-money">
              'Money'
            </a>
          </li>
           <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/index/index-contact">'Contact'</a>
          </li>
           <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/index/index-award">
              'Award'
            </a>
          </li>
           <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/index/index-payment">
              'Payment'
            </a>
          </li>
           <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/index/index-others">
              Others
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </div>
</div>
</div>

<div class="govuk-grid-row">


    <br><br>
<h3 class="govuk-heading-m">Housing costs</h3>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header  govuk-!-width-one-third">Page</th>
            <th scope="col" class="govuk-table__header  govuk-!-width-one-quarter">Date created</th>
            <th scope="col" class="govuk-table__header">Details</th>
          </tr>
        </thead>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link govuk-link--no-visited-state" href="/14-0/housing-costs-landing" target="_blank">Housing costs summary</a><br><p>(opens in a new tab)</p>
          </td>
          <td class="govuk-table__cell">May 2026</td>
          <td class="govuk-table__cell">
            <p class="govuk-body">Accessed via the details tab on the Household tab. The page also includes a link to make changes, which takes the user to the CYA page for the main claimant where they can make changes to amounts and dates.</p>
          </td>
        </tr>

         <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link govuk-link--no-visited-state" href="/14-0/household?v=add" target="_blank">Add housing costs (main claimant only)</a><br><p>(opens in a new tab)</p>
          </td>
          <td class="govuk-table__cell">May 2026</td>
          <td class="govuk-table__cell">
            <p class="govuk-body">Allows an agent to enter the housing cost data for the main claimant, accept the change of award and see the housing costs summary.</p>
          </td>
        </tr>

         <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link govuk-link--no-visited-state" href="/14-0/household?v=add&lwo=yes" target="_blank">Add housing costs (main claimant and non-dependents)</a><br><p>(opens in a new tab)</p>
          </td>
          <td class="govuk-table__cell">May 2026</td>
          <td class="govuk-table__cell">
            <p class="govuk-body">Allows an agent to enter the housing cost data for the main claimant and for non-dependents (note that only 'Jimmy' works in the list of non-deps).</p>
          </td>
        </tr>
        

      </table><br>

      <h3 class="govuk-heading-m">Tab design</h3>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header  govuk-!-width-one-third">Page</th>
            <th scope="col" class="govuk-table__header  govuk-!-width-one-quarter">Date created</th>
            <th scope="col" class="govuk-table__header">Details</th>
          </tr>
        </thead>
        
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link govuk-link--no-visited-state" href="/14-0/household" target="_blank">Initial design</a><br><p>(opens in a new tab)</p>
          </td>
          <td class="govuk-table__cell">May 2026</td>
          <td class="govuk-table__cell">
            <p class="govuk-body">Initial design of new Household tab added to claimant's record.</p>
          </td>
        </tr>

      </table>


</div>


{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "Navigation options",
            text: "nav-links"
          },
          {
            href: "manage-prototype",
            text: "Manage your prototype"
          },
          {
            href: "manage-prototype/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}
