{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

{% include './back-to-top.html' %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
   
        <h1 class="govuk-heading-xl">{{serviceName}}<strong class="govuk-tag govuk-phase-banner__content__tag" style="padding-top:5px;padding-bottom:0px;margin-left:15px">
      <sup>Alpha</sup>
    </strong></h1>


<div class="govuk-service-navigation"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="../index">
              Main prototype
            </a>
          </li>
          <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="#" aria-current="true">
              <strong class="govuk-service-navigation__active-fallback">Previous versions</strong>
            </a>
          </li>
      
           <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/index/index-personal">
              'Personal'
            </a>
          </li>
           <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/index/index-contact">
              'Contact'
            </a>
          </li>
           <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/index/index-award">
              'Award'
            </a>
          </li>
           <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/index/index-payment">
              'Payment'
            </a>
          </li>
           <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/index/index-others">
              Others
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/index/index-our-team">
              Our team
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
</div>

<div class="govuk-grid-row">


    <br><br>


      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header  govuk-!-width-one-third">Iteration</th>
            <th scope="col" class="govuk-table__header  govuk-!-width-one-quarter">Date created</th>
            <th scope="col" class="govuk-table__header">Details</th>
          </tr>
        </thead>

         <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="/9-0/find" target="_blank">Iteration 9</a><br><p>(opens in a new tab)</p>
          </td>
          <td class="govuk-table__cell">Sep 2025</td>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>Iteration by Mark Keeling/Matt Hall</li>
              <li>info tbc with Mark K</li>
            </ul>
          </td>
        </tr>

         <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="/8-0/find" target="_blank">Iteration 8 </a><br><p>(opens in a new tab)</p>
          </td>
          <td class="govuk-table__cell">Sep 2025</td>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>updated Personal tab with marital, partner and others living with claimant info</li>
              <li>added marital details page</li>
              <li>added partner details page with limited 'vanilla' info</li>
              <li>added others living with claimant details page with limited 'vanilla' info</li>
            </ul>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="https://lucid.app/lucidspark/737bd0fa-6908-46dc-bcaa-b983f91dbf02/edit?view_items=eMY9us9kSBCpy&invitationId=inv_630762fc-6f93-4a94-a615-da9a18968d17" target="_blank">Iteration 7 (Lucid wireframes)</a><br><p>(opens in a new tab)</p>
          </td>
          <td class="govuk-table__cell">July 2025</td>
          <td class="govuk-table__cell">
            <p>Wireframe designs for the different death journey scenarios, including:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>a link on the personal tab to start the tasks to report a death - for telephony death reports</li>
              <li>a task list with all of the tasks to report a death</li>
              <li>end to end screens for each task</li>
              <li>timeline events for all death tasks with 'View details' pages</li>
              <li>mock ups of end screens for scenarios where there is either full or partial automation</li>
            </ul>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="/6-0/find" target="_blank">Iteration 6</a><br><p>(opens in a new tab)</p>
          </td>
          <td class="govuk-table__cell">April 2025</td>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>added back in the timeline based on the new DWP design system version</li>
              <li>added the tags into the quick reference component, and created standalone pages to show death and prison</li>
              <li>designed the stop/suspend payments journey from the payment tab with status tags</li>
              <li>recall payment/reissue journey</li>
              <li>returned payment/reissue journey</li>
              <li>updates to the move back to BAU journey by removing the future date</li>
              <li>ensure all documentation is up to date on Confluence</li>
            </ul>
          </td>
        </tr>


        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="/retirement-showcase/find" target="_blank">Retirement Showcase</a><br><p>(opens in a new tab)</p>
          </td>
          <td class="govuk-table__cell">March 2025</td>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>this version is for presentation purposes in the Retirement Showcase demo</li>
              <li>updated to create a realistic example of payment data in the payments tab, that aligns with what PC claims and C&P are showing</li>
            </ul>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="/5-0/find" target="_blank">Iteration 5</a><br><p>(opens in a new tab)</p>
          </td>
          <td class="govuk-table__cell">February 2025</td>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>this version is the MVP delivery</li>
              <li>updated all of the content to reflect a more accurate 'Eric' persona including, name, NINO, DOB, award and payment details</li>
              <li>hidden all functionality that is not part of MVP including timeline, marriage status and alt format letters</li>
              <li>updated the move back to CAM and GySP journey</li>
              <li>updated and completed the change of payment frequency journeys</li>
              <li>housekeeping to update all of the versioning, routing and improve some of the conditional content</li>
              <li>ensure all documentation is up to date on Confluence</li>
            </ul>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="/4-0/find" target="_blank">Iteration 4</a><br><p>(opens in a new tab)</p>
          </td>
          <td class="govuk-table__cell">October 2024</td>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>created the move back to CAM and GySP journey</li>
              <li>designed various standalone pages for the different marriage status and details pages</li>
            </ul>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="/3-0/find" target="_blank">Iteration 3</a><br><p>(opens in a new tab)</p>
          </td>
          <td class="govuk-table__cell">October 2024</td>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>created the design for 'report a death or suspend payments'</li>
              <li>designed the restart payment flow, using the warning message as link</li>
              <li>updated the change bank account flow to bring closer to GySP by removing the check bank name validation</li>
              <li>added stand alone error pages for the change bank account journey</li>
              <li>created the design for change residential address</li>
              <li>created the design for add, change and remove correspondence address</li>
              <li>added in address not found as standalone pages</li>
            </ul>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="/2-0/find.html" target="_blank">Iteration 2</a><br><p>(opens in a new tab)</p>
          </td>
          <td class="govuk-table__cell">September 2024</td>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>updated changing a payment design based on UR findings - business decision to roll this closer to GySP for MVP</li>
              <li>updated change contact details flows</li>
              <li>introduced success notification banners</li>
              <li>amended the stop and suspend journey</li>
              <li>added MVP death journey</li>
            </ul>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="/1-0/find.html" target="_blank">Iteration 1</a><br><p>(opens in a new tab)</p>
          </td>
          <td class="govuk-table__cell">June 2024</td>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>first draft of the key journeys in preparation for the July workshops</li>
              <li>drafts based on GySP</li>
              <li>pages include, skeleton record view, contact details, bank details and payment frequency </li>
              <li>first round of user testing on the prototype to inform design changes in iteration 2</li>
            </ul>
          </td>
        </tr>
      </table></div>



{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "Navigation options",
            text: "nav-links"
          },
          {
            href: "manage-prototype",
            text: "Manage your prototype"
          },
          {
            href: "manage-prototype/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}
