{% extends "layouts/main.html" %}

{% block pageTitle %}
  Award {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/index" class="dwp-header__link">{{serviceName}}</a>
</div>
          {% include './_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include './_namebar.html' %}


      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
      }}

      <h1 class="govuk-heading-l">Current Pension Credit award</h1>

      <div title="Award details">
        <dl class="govuk-summary-list">
          <h2 class="govuk-heading-m">Award details</h2>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Award amount
            </dt>
            <dd class="govuk-summary-list__value">
              &pound;15.34
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Decision date
            </dt>
            <dd class="govuk-summary-list__value">
              19 June 2025
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Award effective date
            </dt>
            <dd class="govuk-summary-list__value">
              2 June 2025
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reason
            </dt>
            <dd class="govuk-summary-list__value">
              Change of income
            </dd>
          </div>
        </dl>
      </div>

      <!-- Start of section -->
      <div class="govuk-!-padding-top-7"> 

        <!-- Section title -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half"><h2 class="govuk-heading-m">Guarantee Credit</h2></div>
            <div class="govuk-grid-column-one-half govuk-!-text-align-right">
              <span class="govuk-body">&pound; 15.34</span>
            </div>
        </div>

         <!-- Start of guarantee credit card -->
        <div class="govuk-summary-card">
          
          <!-- Card header -->
          <div class="govuk-summary-card__title-wrapper summary-card-title" id="minimum-guarantee-card">
              <div class="card-title govuk-!-text-align-left">
                  <h2 class="govuk-heading-s">Minimum guarantee</h2>
              </div>
              <div class="card-amount">
                <span class="govuk-body">&pound; 475.90</span>
              </div>
              <div>
                <a id="minimum-guarantee-expand" onclick="showStuff('minimum-guarantee-content', 'minimum-guarantee-collapse', this);">Expand</a>
                <a id="minimum-guarantee-collapse" onclick="hideStuff('minimum-guarantee-content', 'minimum-guarantee-expand', this);">Collapse</a>
              </div>
          </div>

          <!-- Card detail -->
          <div class="govuk-summary-card__content alert" id="minimum-guarantee-content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Standard guarantee
                </dt>
                <dd class="govuk-summary-list__value govuk-!-text-align-right">
                  &pound;346.60
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Extra amount for severe disability
                </dt>
                <dd class="govuk-summary-list__value govuk-!-text-align-right">
                  &pound;82.90
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Carers premium
                </dt>
                <dd class="govuk-summary-list__value govuk-!-text-align-right">
                  &pound;46.40
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <!-- End of card -->

        <!-- Start of income card -->
        <div class="govuk-summary-card ">
          
          <!-- Card header -->
          <div class="govuk-summary-card__title-wrapper summary-card-title" id="income-card">
              <div class="card-title govuk-!-text-align-left">
                  <h2 class="govuk-heading-s">Income</h2>
              </div>
              <div class="card-amount">
                <span class="govuk-body">&pound;457.56</span>
              </div>
              <div>
                <a id="income-expand" onclick="showStuff('income-content', 'income-collapse', this);">Expand</a>
                <a id="income-collapse" onclick="hideStuff('income-content', 'income-expand', this);">Collapse</a>
              </div>
          </div>

          <!-- Card detail -->
          <div class="govuk-summary-card__content alert" id="income-content">
            <h3 class="govuk-heading-s">Claimant</h3>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  State Pension
                </dt>
                <dd class="govuk-summary-list__value govuk-!-text-align-right"">
                  &pound;169.35
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Sunlife pension<br>
                  <span class="govuk-body">
                    The 14 February 2025 payment of £163.42 was used to calculate the weekly income from this pension.
                  </span>
                </dt>
                <dd class="govuk-summary-list__value govuk-!-text-align-right"">
                  &pound;106.42
                </dd>
              </div>
            </dl>

            <h3 class="govuk-heading-s govuk-!-padding-top-7">Partner</h3>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  State Pension
                </dt>
                <dd class="govuk-summary-list__value govuk-!-text-align-right"">
                  &pound;118.35
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Prudential pension<br>
                  <span class="govuk-body">
                    Pension payments used to calculate the average weekly income:
                    <ul class="govuk-list govuk-list--bullet">
                      <li>14 Mar 2025 - £63.67</li>
                      <li>13 Apr 2025 - £63.45</li>
                      <li>14 May 2025 - £61.12</li>
                      <li>16 Jun 2025 - £61.12</li>
                    </ul>
                  </span>
                </dt>
                <dd class="govuk-summary-list__value govuk-!-text-align-right"">
                  &pound;63.34
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <!-- End of card -->

        <!-- Start of tariff income card -->
        <div class="govuk-summary-card">
          
          <!-- Card header -->
          <div class="govuk-summary-card__title-wrapper summary-card-title" id="tariff-income-card">
              <div class="card-title govuk-!-text-align-left">
                  <h2 class="govuk-heading-s">Tariff income</h2>
              </div>
              <div class="card-amount">
                <span class="govuk-body">&pound; 3.00</span>
              </div>
              <div>
                <a id="tariff-income-expand" onclick="showStuff('tariff-income-content', 'tariff-income-collapse', this);">Expand</a>
                <a id="tariff-income-collapse" onclick="hideStuff('tariff-income-content', 'tariff-income-expand', this);">Collapse</a>
              </div>
          </div>

          <!-- Card detail -->
          <div class="govuk-summary-card__content alert" id="tariff-income-content">
            <h3 class="govuk-heading-s">Claimant</h3>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Savings and investments
                </dt>
                <dd class="govuk-summary-list__value govuk-!-text-align-right"">
                  &pound;9234.21
                </dd>
              </div>
            </dl>

            <h3 class="govuk-heading-s govuk-!-padding-top-7">Partner</h3>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Savings and investments
                </dt>
                <dd class="govuk-summary-list__value govuk-!-text-align-right"">
                  &pound;2323.12
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <!-- End of card -->
      </div>
      <!-- End of section -->
      



      

  </div>
</div>
<script>
  function showStuff(id, text, link) {
    // show the detail
    document.getElementById(id).style.display = 'block';
    // show the collapse link
    document.getElementById(text).style.display = 'block';
    // hide the expand link
    link.style.display = 'none';
  }

  function hideStuff(id, text, link) {
    // hide the detail
    document.getElementById(id).style.display = 'none';
    // hide the collapse link
    link.style.display = 'none';
    // show the expand link
    document.getElementById(text).style.display = 'block';
  }
</script>
{% endblock %}
