{% extends "layouts/main.html" %}

{% block pageTitle %}
  Award {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/index" class="dwp-header__link">{{serviceName}}</a>
</div>
          {% include './_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include './_namebar.html' %}

      <br>

      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
      }}
      <br>  <br>
      
<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--l">Marital details</caption>
                <tbody class="govuk-table__body">

                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="width: 40%">Status</th>
                    <td class="govuk-table__cell" style="width: 15%" >Married</td>
                    <td class="govuk-table__cell" style="width: 20%"></td>
                     </tr>

                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Date of marriage</th>
                    <td class="govuk-table__cell">9 April 1975</td>
                    <td class="govuk-table__cell" style="text-align: right" style="width: 5%">  <strong class="govuk-tag govuk-tag--grey">
          Not verified
        </strong></td>
                     </tr>

                </tbody>
              </table>

              <h2 class="govuk-heading-m">Spouse's details</h2>
              <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">National Insurance number </th>
                    <td class="govuk-table__cell">QQ 12 34 66 X</td>

                      </tr>
                  <tr class="govuk-table__row">
                   <th scope="row" class="govuk-table__header" style="width: 38%">First name</th>
                    <td class="govuk-table__cell" style="width: 35%">Regina</td>
                    
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Last name</th>
                    <td class="govuk-table__cell">Adams</td>
                    
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Other names</th>
                    <td class="govuk-table__cell"></td>
                    
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Date of birth </th>
                    <td class="govuk-table__cell">17 July 1955 </td>
                    
                  </tr>


                </tbody>
              </table>
</div>
    </div>


  </div>

</div>




{% endblock %}

