{% extends "layouts/main.html" %}

{% block pageTitle %}
  Bank account name – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}



<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/index" class="dwp-header__link">{{serviceName}}</a>
</div>
          {% include './_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include './_namebar.html' %}

      {{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  })
}}

<br><br>

<h1 class="govuk-heading-l">Pension Credit payments stopped</h1>
<h2 class="govuk-heading-m">Details</h2>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date
    </dt>
    <dd class="govuk-summary-list__value">
      2 April 2025
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Reason
    </dt>
    <dd class="govuk-summary-list__value">
      Returned payments
    </dd>
  </div>
</dl>







    </div>





  </div>


</div>

{% endblock %}
