{% extends "layouts/main.html" %}

{% block pageTitle %}
  Mobile phone number – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/index" class="dwp-header__link">{{serviceName}}</a>
</div>
          {% include './_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include './_namebar.html' %}

      {{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  })
}}

    <form method="post" action="housing-costs-check-change-award?eric=done"><br>
  

        <h2 class="govuk-heading-l">Check your answers for Eric Erikson</h2><br>
        <h2 class="govuk-heading-m">Housing costs included in the service charges</h2>
       
        <dl class="govuk-summary-list" style="margin-bottom:0px">
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            </dt>
            <dd class="govuk-summary-list__value" style="width:20%">
              Cost amount
            </dd>
            <dd class="govuk-summary-list__value" style="width:20%">
             Frequency
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Ground rents on long tenancies
            </dt>
            <dd class="govuk-summary-list__value">
             
                £0
          
            </dd>
            <dd class="govuk-summary-list__value">
            
                Monthly
            
            </dd>
           
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Eligible service charges
            </dt>
            <dd class="govuk-summary-list__value">
             {% if data['cost2p'] %}
                £{{ data['cost2p'] }}
              {% else %}
                 £0
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__value">
               {% if data['sort-2'] %}
                {{ data['sort-2'] }}
              {% else %}
                Yearly
              {% endif %}
            </dd>
         
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Ineligible service charges
            </dt>
            <dd class="govuk-summary-list__value">
             {% if data['cost2p'] %}
                £{{ data['cost2p'] }}
              {% else %}
                 £0
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__value">
             
                Not applicable
         
            </dd>
         
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
         
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Payments under co-ownership schemes
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['cost3p'] %}
                £{{ data['cost3p'] }}
              {% else %}
                 £0
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__value">
               {% if data['sort-3'] %}
                {{ data['sort-3'] }}
              {% else %}
                Yearly
              {% endif %}
            </dd>
          
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Payments for tenancies or licenses of Crown rents
            </dt>
            <dd class="govuk-summary-list__value">
              {% if  data['cost4p'] %}
                £{{  data['cost4p'] }}
              {% else %}
                 £0
              {% endif %}
            </dd>
             <dd class="govuk-summary-list__value">
               {% if data['sort-4'] %}
                {{ data['sort-4'] }}
              {% else %}
                Monthly
              {% endif %}
            </dd>
            
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
        
           
        </dl><br><br><br><br><br><br>

         <h2 class="govuk-heading-m">Housing costs not included in the service charges</h2><br><br>
         <h2 class="govuk-heading-s" style="margin-bottom:0px">Insurance and major works costs</h2>
       
        <dl class="govuk-summary-list" style="margin-bottom:0px">
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            </dt>
            <dd class="govuk-summary-list__value" style="width:20%">
              Cost amount
            </dd>
            <dd class="govuk-summary-list__value" style="width:20%">
             Payment period
            </dd>

          </div>
          
         
         
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Insurance
            </dt>
            <dd class="govuk-summary-list__value">
            £0
            </dd>
            <dd class="govuk-summary-list__value">
             Six months
            </dd>
            
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Major works
            </dt>
            <dd class="govuk-summary-list__value">
             {% if  data['cost6p'] %}
                £{{  data['cost6p'] }}
              {% else %}
               £0
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__value">
              {% if data['sort-6'] %}
                {{ data['sort-6'] }}
              {% else %}
                Five weeks
              {% endif %}
            </dd>
            
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
           
        </dl><br><br><br>
          <h2 class="govuk-heading-s" style="margin-bottom:0px">Insurance and major works end dates</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            </dt>
          </div>
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Insurance
            </dt>
            <dd class="govuk-summary-list__value">
            
               12 August 2026
            
            </dd>
           
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Major works
            </dt>
            <dd class="govuk-summary-list__value">
            
               13 September
            
            </dd>
           
           
           
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
          
          
        </dl><br><br><br><br>



        <h2 class="govuk-heading-m">Date information</h2>
       
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            </dt>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date the claimant told us about the change
            </dt>
            <dd class="govuk-summary-list__value">
            
                27 March 2026
            
            </dd>
           
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Housing costs start date
            </dt>
            <dd class="govuk-summary-list__value">
            
                9 March 2026
            
            </dd>
           
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Housing costs end date
            </dt>
            <dd class="govuk-summary-list__value">
            
                21 February 2027
            
            </dd>
            
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Next housing costs review date
            </dt>
            <dd class="govuk-summary-list__value">
            
                11 October 2026
            
            </dd>
            
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
        </dl><br><br><br><br>



        <h2 class="govuk-heading-m">Share of housing costs</h2>
       
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            </dt>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Eric's liable share
            </dt>
            <dd class="govuk-summary-list__value">
            
                1/3
            
            </dd>
           
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
        
        </dl>
      

        
<br>

      


      <button type="submit" class="govuk-button" data-module="govuk-button">
       Confirm
      </button>

    </form>




    </div>





  </div>

{% endblock %}
