{% extends "layouts/main.html" %}

{% block pageTitle %}
  Personal – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/index" class="dwp-header__link">{{serviceName}}</a>
</div>
          {% include './_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}

<style>
  .govuk-summary-list__key {width:60%}
</style>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
  Eric Erikson<br>
  <span class="govuk-caption-xl">QQ 12 34 56 C</span>

  </h1>
 {{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
    })
    }}



 <br><br><h1 class="govuk-heading-l">Details of housing costs</h1>

 <div class="govuk-form-group">
   <p><a class=" govuk-link--no-visited-state" href="housing-costs-change-check-change-award?award-changed=no&letter-sent=no&smi-sent=no&claimant-done=no">Make changes to these housing costs</a></p>
 </div><br>

       <div title="Award details">
       <dl class="govuk-summary-list">

        

         <div class="govuk-summary-list__row" style="font-weight: bold;font-size: 1.5rem;">
           <dt class="govuk-summary-list__key">
             Total eligible costs
           </dt>
           <dd class="govuk-summary-list__actions govuk-!-text-align-right">
             &pound;3,255.18
           </dd>
         </div>
        
       </dl>
     </div>

  


              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                  Ground rents on long tenancies
                  </dt>
                  <dd class="govuk-summary-list__actions govuk-!-text-align-right">
                    &pound;346.60
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Eligible service charges
                  </dt>
                  <dd class="govuk-summary-list__actions govuk-!-text-align-right">
                    &pound;82.90
                  </dd>
                </div>

                 <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Payments under co-ownership schemes
                  </dt>
                  <dd class="govuk-summary-list__actions govuk-!-text-align-right">
                    &pound;346.60
                  </dd>
                </div>
                 <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                   Crown tenancy or license charges
                  </dt>
                  <dd class="govuk-summary-list__actions govuk-!-text-align-right">
                    &pound;10.00
                  </dd>
                </div>
                 <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Insurance not included in the service charges
                  </dt>
                  <dd class="govuk-summary-list__actions govuk-!-text-align-right">
                    &pound;645.00
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Major works (total liable amount for claimant's home)<br>
                    <details class="govuk-details" style="margin:5px 0px 5px 0px">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        See major works details
                      </span>
                    </summary>
                   
                    <div class="govuk-details__text">
                       <h2 class="govuk-heading-m">List of major works</h2>
                     <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        {% if data['mw-description']%}
                          {{data['mw-description']}}
                        {% else %}
                        Roof repairs
                        {% endif %}
                      </dt>
                      <dd class="govuk-summary-list__value" style="width:60%">
                      £205.99
                      </dd>
                      
                      
                     
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                      {% if data['mw-description2']%}
                          {{data['mw-description2']}}
                        {% else %}
                      Fire doors
                        {% endif %}
                      </dt>
                      <dd class="govuk-summary-list__value">
                      £297.41
                      </dd>
          </div>
                    </div>
                  </details>
                  </dt>
                  <dd class="govuk-summary-list__actions govuk-!-text-align-right">
                    &pound;503.40
                  </dd>
                </div>
                
                
              </dl><br><br>




            <h2 class="govuk-heading-m">
                     Ineligible costs
                   </h2>


              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                   Ineligible service charges
                  </dt>
                  <dd class="govuk-summary-list__actions govuk-!-text-align-right">
                    &pound;50.80
                  </dd>
                </div>

              </dl><br><br>

              <h2 class="govuk-heading-m">
                     Date information
                   </h2>


              <dl class="govuk-summary-list">
                 <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             Date the claimant became liable for the costs
           </dt>
           <dd class="govuk-summary-list__actions govuk-!-text-align-right">
             21 February 2026
           </dd>
         </div>

         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
            Date the claimant told us about the changes
           </dt>
           <dd class="govuk-summary-list__actions govuk-!-text-align-right">
             3 March 2026
           </dd>
         </div>
          <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
            Date of the next housing costs review
           </dt>
           <dd class="govuk-summary-list__actions govuk-!-text-align-right">
             20 February 2027
           </dd>
         </div>

              </dl><br><br>






      <div title="Award details">
      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <span class="govuk-body govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold">Claimant's personal share of housing costs</span>
          </dt>

        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Eric's liable share
          </dt>
          <dd class="govuk-summary-list__actions govuk-!-text-align-right">
            1/4
          </dd>
        </div>

      </dl>
    </div>



<form method="post" action="outstanding-tasks-hc?change=yes">


  </div>
  <div class="govuk-grid-column-one-third">
  
<h1 class="govuk-heading-m">Record history</h1>

<p><a href="full-history" class="govuk-link govuk-link--no-visited-state">Full history</a></p>

</div>
</div><br><br>


{% endblock %}
