{% extends "layouts/main.html" %}

{% block pageTitle %}
  Result – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/index" class="dwp-header__link">{{serviceName}}</a>
</div>
          {% include './_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% include './_namebar.html' %}
    

{{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  })
}}
      <br>  <br>
      <span class="govuk-caption-l">About Jimmy Erikson</span>
<h1 class="govuk-heading-l">How much money does Jimmy earn each week?</h1>
<p class="govuk-body">If they are working, this could be money from any type of full or part-time employment or self employment.</p>


  <form method="post" action="tor-hc-lwo-cya">
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
          £0 to £191.99
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          £192 to £278.99
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
          £279 to £364.99
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
          £365 to £484.99
        </label>
      </div>
       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-5" name="whereDoYouLive" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
          £485 to £604.99
        </label>
      </div>
       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-6" name="whereDoYouLive" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
          £605 or more
        </label>
      </div>
      <div class="govuk-radios__divider">or</div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-6" name="whereDoYouLive" type="radio" value="northern-ireland~tor-hc-lwo-money-interrupt">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
          I do not know
        </label>
      </div>
    </div>
  </fieldset>
</div><br>

 
<button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>

    </form>

   </div>

 
    </div>


{% endblock %}

