{% extends "layouts/record-view.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      {% include '../../includes/user-details.html' %}
      {% include '../../includes/nav-primary-blocks-contact.html' %}

      <h2 class="govuk-heading-l">Contact details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
              123 Square Street<br>
              York<br>
              YO3 1SQ
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address we send letters to
          </dt>
          <dd class="govuk-summary-list__value">
              123 Square Street<br>
              York<br>
              YO3 1SQ
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div> -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Home phone number
          </dt>
          <dd class="govuk-summary-list__value">
              01943 345928
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Work phone number
          </dt>
          <dd class="govuk-summary-list__value">
              01943 28837
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mobile phone number
          </dt>
          <dd class="govuk-summary-list__value">
              077123 45678
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
              email@me.co.uk
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Alternative format for letters
          </dt>
          <dd class="govuk-summary-list__value">
              Braille
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
      </dl>
  </div>
<div class="govuk-grid-column-one-third">
  {% include '../../includes/timeline-contact.html' %}
</div>
</div>

{% endblock %}
