{% extends "layouts/main.html" %}

{% block pageTitle %}
  Award change details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/index" class="dwp-header__link">{{serviceName}}</a>
</div>
          {% include './_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include './_namebar.html' %}

{% if data['via'] == 'award' %}

<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="award">Award</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="award-details-pension-change?breadcrumbs=yes">Current Pension Credit award</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Award change details
    </li>
  </ol>
</nav>

{% elseif data['via'] == 'changeDetails' %}

<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="award">Award</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="award-details-pension-change?breadcrumbs=yes">Current Pension Credit award</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Award change details
    </li>
  </ol>
</nav>

{% else %}

<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="award.html">Award</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="full-history">Full history</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Award change details
    </li>
  </ol>
</nav>

{% endif %}

<br><br>

<h1 class="govuk-heading-l">Award change details</h1>

<h2 class="govuk-heading-m">Reason for change</h2>

<p class="govuk-body">Change of address reported</p> 

<h2 class="govuk-heading-s">Outcomes</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>Partner added</li>
   <li>Partner's pension income added: State pension</li>
   <li>Partner's pension income added: Sunlife pension</li>
    <li>Housing costs added</li>
</ul>


<hr class="govuk-section-break govuk-section-break--m">


    <div title="Award details">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <span class="govuk-body govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold">New award amount</span>
          </dt>
          <dd class="govuk-summary-list__key">
            <span class="govuk-body govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold">&pound;164.74 a week</span>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Difference
          </dt>
          <dd class="govuk-summary-list__value">
            Increased by £55.15
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Effective from
          </dt>
          <dd class="govuk-summary-list__value">
            10 Mar 2026
          </dd>
        </div>
         {% if data['debt'] == 'true' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Overpayment
          </dt>
          <dd class="govuk-summary-list__value">
            £1.97
          </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="overpayment-referral-details?via=changeDetails">Details<span class="govuk-visually-hidden"> overpayment</span></a>
        </dd>
        </div>
         {% endif %}
      </dl>
    </div>

    <hr class="govuk-section-break govuk-section-break--l">


    <h2 class="govuk-heading-m">Applicable amount changes</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <span class="govuk-body govuk-body govuk-!-font-weight-bold">New applicable amount</span>
          </dt>
          <dd class="govuk-summary-list__key">
            <span class="govuk-body govuk-body govuk-!-font-weight-bold">&pound;383.25 a week</span>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Difference
          </dt>
          <dd class="govuk-summary-list__value">
            Increased by £145.25
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Decision date
          </dt>
          <dd class="govuk-summary-list__value">
            12 Mar 2026
          </dd>
        </div>
      </dl>

            <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Details
    </span>
  </summary>
  <div class="govuk-details__text">
  <div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Guarantee credit
    </h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Amount
        </dt>
        <dd class="govuk-summary-list__value">
          &pound;363.25 a week
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Difference
        </dt>
        <dd class="govuk-summary-list__value">
          Increased by £125.25
        </dd>
      </div>
    </dl>
  </div>
  </div>

    <div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Housing costs
    </h2>
  </div>
    <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Amount
        </dt>
        <dd class="govuk-summary-list__value">
          &pound;20.00 a week
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Difference
        </dt>
        <dd class="govuk-summary-list__value">
          Increased by £20.00
        </dd>
      </div>
    </dl>
  </div>
  </div>









  



  </div>
</details>

 <hr class="govuk-section-break govuk-section-break--l">
<h2 class="govuk-heading-m">Income changes</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <span class="govuk-body govuk-body govuk-!-font-weight-bold">New income amount</span>
          </dt>
          <dd class="govuk-summary-list__key">
            <span class="govuk-body govuk-body govuk-!-font-weight-bold">&pound;218.58 a week</span>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Difference
          </dt>
          <dd class="govuk-summary-list__value">
            Increased by £101.00
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Decision date
          </dt>
          <dd class="govuk-summary-list__value">
            12 Mar 2026
          </dd>
        </div>
      </dl>

      <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Details
    </span>
  </summary>
  <div class="govuk-details__text">
         <h2 class="govuk-heading-s">Partner's income</h2>

            <div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      State pension
    </h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Income amount
        </dt>
        <dd class="govuk-summary-list__value">
          &pound;90.00 a week
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Difference
        </dt>
        <dd class="govuk-summary-list__value">
          Increased by £90.00
        </dd>
      </div>
    </dl>
  </div>
  </div>

              <div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Sunlife pension
    </h2>
            <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="#">Details<span class="govuk-visually-hidden"> Sunlife pension</span></a>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Income amount
        </dt>
        <dd class="govuk-summary-list__value">
          &pound;11.00 a week
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Difference
        </dt>
        <dd class="govuk-summary-list__value">
          Increased by £11.00
        </dd>
      </div>
    </dl>
  </div>
  </div>



  </div>
</details>












    </div>





  </div>




   <hr class="govuk-section-break govuk-section-break--l">
        <hr class="govuk-section-break govuk-section-break--l">
            <hr class="govuk-section-break govuk-section-break--l">
                <hr class="govuk-section-break govuk-section-break--l">
                    <hr class="govuk-section-break govuk-section-break--l">
                       <hr class="govuk-section-break govuk-section-break--l">


      <p class="govuk-body">Prototype page variations:    </p>
            <p class="govuk-body"> <a href="award-change-details1.html" class="govuk-link">Simple change: Single pension review</a></p>
            <p class="govuk-body"> <a href="award-change-details2.html" class="govuk-link">Complex change: Moving in with a partner</a></p>
</div>

{% endblock %}
