{% extends "layouts/main.html" %}

{% block pageTitle %}
Pension details {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
  <div class="dwp-header__content govuk-width-container">
    <div class="dwp-header__service-name">
      <a href="/index" class="dwp-header__link">{{serviceName}}</a>
    </div>
    {% include './_nav.html' %}
  </div>
</header>

{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './_namebar.html' %}

    <br>

    {{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
    })
    }}
    <br> <br>
    <h1 class="govuk-heading-l">Royal London pension</h1>

    <p class="govuk-body">Next review is due on 12 Sep 2026.</p>
   
  {% if data['adhoc'] == 'true' %}
    <p class="govuk-body">
     <a href="#" class="govuk-link">Review this pension now</a>.
    </p>
  {% endif %}
  </div>

  <!-- Close two thirds, open full width -->

    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Pension review history</h2>
      <table class="govuk-table">
          <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col" style="width: 12%">Calculated income</th>
                <th class="govuk-table__header" scope="col" style="width: 15%">Representative amount</th>
                <th class="govuk-table__header" scope="col" style="width: 20%">Payments used</th>
                <th class="govuk-table__header" scope="col" style="width: 20%">Review date</th>
                <th class="govuk-table__header" scope="col" style="width: 13%">Effective from</th>
              </tr>
            </thead>
        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              £21.36
            </td>
            <td class="govuk-table__cell">
              £92.59 paid monthly
            </td>
            <td class="govuk-table__cell">
              £89.97 on 1 Jan 2026 <br>
              £93.41 on 1 Feb 2026 <br>
              £94.41 on 1 Mar 2026 <br>
            </td>
            <td class="govuk-table__cell">
              Done: 12 June 2026 <br>
              Due: 12 June 2026
            </td>
            <td class="govuk-table__cell">
              No change
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              £21.36
            </td>
            <td class="govuk-table__cell">
              £92.59 paid monthly
            </td>
            <td class="govuk-table__cell">
              £89.97 on 1 Jan 2026 <br>
              £93.41 on 1 Feb 2026 <br>
              £94.41 on 1 Mar 2026 <br>
            </td>
            <td class="govuk-table__cell">
              Done: 12 Mar 2026 <br>
              Due: 11 Mar 2026
            </td>
            <td class="govuk-table__cell">
              13 Mar 2026
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              £21.09
            </td>
            <td class="govuk-table__cell">
              £91.43 paid monthly
            </td>
            <td class="govuk-table__cell">
              £89.97 on 1 Oct 2025 <br>
              £93.89 on 1 Nov 2025 <br>
              £90.30 on 1 Dec 2025 <br>
            </td>
            <td class="govuk-table__cell">
              Application processed: <br>
              12 Dec 2025
            </td>
            <td class="govuk-table__cell">
              5 Dec 2025
            </td>
          </tr>




          </tbody>
          </table>

    </div>


</div>





{% endblock %}