{% extends "layouts/main.html" %}

{% block pageTitle %}
Pension details {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
  <div class="dwp-header__content govuk-width-container">
    <div class="dwp-header__service-name">
      <a href="/index" class="dwp-header__link">{{serviceName}}</a>
    </div>
    {% include './_nav.html' %}
  </div>
</header>

{% endblock %}

{% block content %}



<div class="govuk-grid-row">

 
  <div class="govuk-grid-column-two-thirds">

    {% include './_namebar.html' %}

  </div>

     <div class="govuk-grid-column-full">

      {% if data['via'] == 'award' %}

<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="award">Award</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="award-details-pension-change">Current Pension Credit award</a>
    </li>
        <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="award-change-details1.html">Award change details</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Royal London pension details
    </li>
  </ol>
</nav>

{% elseif data['via'] == 'money' %}

<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="money.html">Money</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Royal London pension details
    </li>
  </ol>
</nav>

{% else %}

<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="award.html">Award</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="full-history">Full history</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Royal London pension details
    </li>
  </ol>
</nav>

{% endif %}

    
  </div>

 <div class="govuk-grid-column-two-thirds">

    <br> <br>
    <h1 class="govuk-heading-l">Royal London pension details</h1>

    <p class="govuk-body">Next review is due on 12 Sep 2026.</p>

   
  {% if data['adhoc'] == 'true' %}
    <p class="govuk-body">
     <a href="#" class="govuk-link">Review this pension now</a>.
    </p>
  {% endif %}
  </div>

  <!-- Close two thirds, open full width -->

    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Pension review history</h2>
      <table class="govuk-table">
          <thead class="govuk-table__head">
              <tr class="govuk-table__row">
               <th class="govuk-table__header bottom-align" scope="col" style="width: 16%">Review date</th>
                <th class="govuk-table__header bottom-align" scope="col" style="width: 13%">Effective from</th>
                <th class="govuk-table__header bottom-align" scope="col" style="width: 12%">Calculated weekly income</th>
                <th class="govuk-table__header bottom-align" scope="col" style="width: 10%">Representative amount</th>
                <th class="govuk-table__header bottom-align" scope="col" style="width: 27%">More information</th>
              </tr>
            </thead>
        <tbody class="govuk-table__body">

          <!-- <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              Done: 12 Jun 2026 <br>
              Due: 11 Jun 2026
            </td>
            <td class="govuk-table__cell">
              14 June 2026
            </td>
            <td class="govuk-table__cell">
              £24.04
            </td>
            <td class="govuk-table__cell">
              £96.17 paid monthly
            </td>
            <td class="govuk-table__cell">
              Payments used: <br>
              £96.70 on 1 Jun 2026 <br>
              £95.50 on 1 May 2026 <br>
              £96.32 on 1 Apr 2026 <br>
            </td>
          </tr> -->


          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              Done: 12 Mar 2026 <br>
              Due: 11 Mar 2026
            </td>
            <td class="govuk-table__cell">
              13 Mar 2026
            </td>
            <td class="govuk-table__cell">
              £21.36
            </td>
            <td class="govuk-table__cell">
              £92.59 paid monthly
            </td>
            <td class="govuk-table__cell">
              Payments used: <br>
              £89.97 on 1 Mar 2026 <br>
              £93.41 on 1 Feb 2026 <br>
              £94.41 on 1 Jan 2026 <br>
            </td>
          </tr>


          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              Done: 4 Dec 2026
            </td>
            <td class="govuk-table__cell">
              5 Dec 2025
            </td>
            <td class="govuk-table__cell">
              £21.09
            </td>
            <td class="govuk-table__cell">
              £91.43 paid monthly
            </td>
            <td class="govuk-table__cell">
              Payments used: <br>
              £89.97 on 1 Dec 2026 <br>
              £93.89 on 1 Nov 2026 <br>
              £90.30 on 1 Oct 2026 <br>
            </td>
          </tr>


          </tbody>
          </table>



    <hr class="govuk-section-break govuk-section-break--l">
        <hr class="govuk-section-break govuk-section-break--l">
            <hr class="govuk-section-break govuk-section-break--l">
                <hr class="govuk-section-break govuk-section-break--l">
                    <hr class="govuk-section-break govuk-section-break--l">
                       <hr class="govuk-section-break govuk-section-break--l">


      <p class="govuk-body">Prototype page variations:    </p>
            <p class="govuk-body"> <a href="money-pension-details1.html" class="govuk-link">Scenario 1:</a> Payments and representative amounts change</p>
            <p class="govuk-body"> <a href="money-pension-details2.html" class="govuk-link">Scenario 2:</a> A stable pension where payments don't change</p>
            <p class="govuk-body"> <a href="money-pension-details3.html" class="govuk-link">Scenario 3:</a> Payments fluctuate but representative amount stays the same</p>
     

    </div>
</div>





{% endblock %}