{% extends "layouts/main.html" %}

{% block pageTitle %}
Add a pension payment – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
  <div class="dwp-header__content govuk-width-container">
    <div class="dwp-header__service-name">
      <a href="/index" class="dwp-header__link">{{serviceName}}</a>
    </div>
    {% include './_nav.html' %}
  </div>
</header>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './_namebar.html' %}



    <h1 class="govuk-heading-l">Add a pension payment</h1>

    <form method="post">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="payment-date-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            What is the payment date?
          </h2>
        </legend>
        <div id="payment-date-hint" class="govuk-hint">
          For example, 27 3 2026
        </div>
        <div class="govuk-date-input" id="payment-date">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="payment-date-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="payment-date-day"
                name="payment-date-day" type="text" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="payment-date-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="payment-date-month"
                name="payment-date-month" type="text" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="payment-date-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="payment-date-year"
                name="payment-date-year" type="text" inputmode="numeric">
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <h2 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--m" for="paymentAmount">
          What is the net payment amount?
        </label>
      </h2>
      <div class="govuk-input__wrapper">
        <div class="govuk-input__prefix" aria-hidden="true">£</div>
        <input class="govuk-input govuk-input--width-5" id="paymentAmount" name="paymentAmount"
          type="text">
      </div>
    </div>



    <div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </div>
    </form>

    {% endblock %}