{% extends "layouts/main.html" %}

{% block pageTitle %}
Changes to the claimant's record cannot be managed in the system– {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
  <div class="dwp-header__content govuk-width-container">
    <div class="dwp-header__service-name">
      <a href="/index" class="dwp-header__link">{{serviceName}}</a>
    </div>
    {% include './_nav.html' %}
  </div>
</header>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './_namebarNoProvider.html' %}
        {{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
    }) }}



    <h1 class="govuk-heading-l">Move record to legacy services</h1>

    {% if data['moveReason'] == 'contact' %}
    <p class="govuk-body">More information is needed from the claimant.</p>
    {% elseif data['moveReason'] == 'singlePayment' %}
    <p class="govuk-body">Only single payments paid yearly or twice a year can be processed in this system.</p>
    {% elseif data['moveReason'] == 'multipleReviews' %}
    <p class="govuk-body">Only one review in a benefit week can be processed in this system.</p>
    {% elseif data['moveReason'] == 'iteration1' %}
    <p class="govuk-body">You cannot process the change in this system.</p>
    {% endif %}

    <p class="govuk-body">You must rebuild the record in legacy services to process the change.</p>

    <p class="govuk-body">The next payment is due to be [amount] on [date]. This is for the period of [date] to [date].
    </p>

    <form method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" id="make-next-payment">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Do you want to pay the next Pension Credit payment?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="make-next-payment-1" name="make-next-payment" type="radio"
                value="yes">
              <label class="govuk-label govuk-radios__label" for="make-next-payment-1">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="make-next-payment-2" name="make-next-payment" type="radio"
                value="no">
              <label class="govuk-label govuk-radios__label" for="make-next-payment-2">
                No
              </label>
            </div>
          </div>
        </fieldset>

      </div>
      <div>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </div>
    </form>

    <hr class="govuk-section-break govuk-section-break--l">
    <p class="govuk-body">Prototype page:
      <a href="change-not-possible?moveReason=contact" class="govuk-link">More information needed</a>
    </p>
    <p class="govuk-body">Prototype page:
      <a href="change-not-possible?moveReason=singlePayment" class="govuk-link">Only single annual or biannual payments</a>
    </p>
        <p class="govuk-body">Prototype page:
      <a href="change-not-possible?moveReason=multipleReviews" class="govuk-link">No multiple reviews in a benefit week</a>
    </p>
        </p>
        <p class="govuk-body">Prototype page:
      <a href="change-not-possible?moveReason=iteration1" class="govuk-link">Iteration 1 - cannot process a change</a>
    </p>

    {% endblock %}