{% extends "layouts/main.html" %}

{% block pageTitle %}
You are using [number] payments – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
  <div class="dwp-header__content govuk-width-container">
    <div class="dwp-header__service-name">
      <a href="/index" class="dwp-header__link">{{serviceName}}</a>
    </div>
    {% include './_nav.html' %}
  </div>
</header>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './_namebar.html' %}

    <h1 class="govuk-heading-l">You are using {{ data['payments'].length | plural("payment")}}</h1>

    <p class="govuk-body">You can use up to 6 payments to calculate income amount.</p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Payment Date</th>
          <th scope="col" class="govuk-table__header">Amount</th>
          <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Action</span></th>
        </tr>
      </thead>


        {% for payment in data['payments']%} 
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{payment.paymentDate | govukDate }}</th>
          <td class="govuk-table__cell">{{ payment.amount | govukCurrency }}</td>
          <td class="govuk-table__cell">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="add-pension-payment">Change<span class="govuk-visually-hidden"> payment</span></a>
              </li>
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="deleteYN">Delete<span class="govuk-visually-hidden"> payment</span></a>
              </li>
            </ul>
          </td>
        </tr>
        {% endfor %}
    
      </tbody>
    </table>


    {% if data['payments'].length < 6 %}
    <p class="govuk-body govuk-!-padding-bottom-4">
      <a href="add-pension-payment" class="govuk-link">Add another pension payment</a>
    </p>
    {% endif %}

    <form method="post">
      <div class="govuk-button-group">
        <button type="submit" name="action" value="continue" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <button type="submit" name="action" value="information" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          More information needed
        </button>
      </div>
    </form>

    {% endblock %}