{% extends "layouts/main.html" %}

{% block pageTitle %}
  Bank account name – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}



<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/index" class="dwp-header__link">{{serviceName}}</a>
</div>
          {% include './_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}



<div class="govuk-grid-row">    
  {% include './_namebar.html' %}

  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    })
  }}
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">


    <div class="filter-wrapper govuk-form-group">
      <div class="filter-container govuk-!-padding-left-1">
          <fieldset class="filter-options govuk-fieldset">
              <legend class="filter-head">Filter by</legend>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input id="Personal" name="Personal" class="govuk-checkboxes__input" type="checkbox" value="true"  onchange="change()">
                    <label class="govuk-!-font-size-19 govuk-label govuk-checkboxes__label govuk-!-margin-0" for="pay">Personal</label>
                </div>
                <div class="govuk-checkboxes__item">
                      <input id="Contact" name="Contact" class="govuk-checkboxes__input" type="checkbox" value="true" onchange="change()">
                      <label class="govuk-!-font-size-19 govuk-label govuk-checkboxes__label govuk-!-margin-0" for="pay">Contact</label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="Award" name="Award" class="govuk-checkboxes__input" type="checkbox" value="true" onchange="change()">
                  <label class="govuk-!-font-size-19 govuk-label govuk-checkboxes__label govuk-!-margin-0" for="pay">Award</label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input id="pPaymentay" name="Payment" class="govuk-checkboxes__input" type="checkbox" value="true" onchange="change()">
                  <label class="govuk-!-font-size-19 govuk-label govuk-checkboxes__label govuk-!-margin-0" for="pay">Payment</label>
                </div>
              </div>
          </fieldset>
      </div>
  </div>
  </div>
  <div class="govuk-grid-column-two-thirds">


    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--l">Full history</caption>
      <div>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row Payment Contact Award Personal">
            <th scope="col" class="govuk-table__header">Date</th>
            <th scope="col" class="govuk-table__header">Action</th>
            <th scope="col" class="govuk-table__header">By</th>
            <th scope="col" class="govuk-table__header">Details</th>
          </tr>
        </thead>
      </div>
      <tbody class="govuk-table__body lines ">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">1 April 2025</td>
            <td class="govuk-table__cell">Claimant moved to Legacy and GySP</td>
            <td class="govuk-table__cell">Jane Doe</td>
            <td class="govuk-table__cell"><a href="timeline-details-move-gysp-cam" class="govuk-link">View details</a></td>
          </tr>
          <tr class="govuk-table__row Payment">
            <td class="govuk-table__cell">27 March 2025</td>
            <td class="govuk-table__cell">Bank details changed</td>
            <td class="govuk-table__cell">System</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link"></a></td>
          </tr>
          <tr class="govuk-table__row Payment">
            <td class="govuk-table__cell">18 March 2025</td>
            <td class="govuk-table__cell">Pension Credit payments stopped</td>
            <td class="govuk-table__cell">John Smith</td>
            <td class="govuk-table__cell"><a href="timeline-details-pc-payments-stopped" class="govuk-link">View details</a></td>
          </tr>
          <tr class="govuk-table__row Contact">
            <td class="govuk-table__cell">15 March 2025</td>
            <td class="govuk-table__cell">Address changed</td>
            <td class="govuk-table__cell">Online</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link"></a></td>
          </tr>
          <tr class="govuk-table__row Award">
            <td class="govuk-table__cell">9 January 2025</td>
            <td class="govuk-table__cell">Pension credit application processed</td>
            <td class="govuk-table__cell">System</td>
            <td class="govuk-table__cell"><a href="timeline-details-pc-application-processed" class="govuk-link">View details</a></td>
          </tr>
          <tr class="govuk-table__row Award">
            <td class="govuk-table__cell">9 January 2025</td>
            <td class="govuk-table__cell">State Pension claim received</td>
            <td class="govuk-table__cell">System</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link"></a></td>
          </tr>
        </tbody>
    </table>
  </div>
</div>


<script type="text/javascript">
    
  function change() {
  
      // Step 1 - Get checked filters
      let checkboxes = document.querySelectorAll('input[type="checkbox"]'), filtered = [];
         checkboxes.forEach(checkbox => {
          if (checkbox.checked) {
              filtered.push(checkbox.name);
          }
      });
  
      // Step 2 - Show the lines based on the filters
      let lines = document.querySelectorAll('.lines tr');
  
      lines.forEach(lines => {
          if (
              filtered.length === 0 || // If no filter is checked then show everything
              filtered.some(r => lines.classList.contains(r)) // If the filter matches the cards class. Filter it.
          ) {
            lines.style.display = 'table-row';
          } else {
            lines.style.display = 'none';
          }
      });
  }
  
  </script>

{% endblock %}
