{% extends "layouts/main.html" %}

{% block pageTitle %}
  Which payments would you like to suspend?
{% endblock %}

{% block header %}
  <header data-module="govuk-header" class="dwp-header">
    <div class="dwp-header__content govuk-width-container">
      <div class="dwp-header__service-name">
        <a href="/index" class="dwp-header__link">{{serviceName}}</a>
      </div>
      {% include './_nav.html' %}
    </div>
  </header>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include './_namebar.html' %}
      
      <h2 class="govuk-heading-l">You cannot suspend payments</h2>
      <div class="govuk-form-group">
        <p class="govuk-body">
          You can only suspend payments for one of these reasons:
          <ul class="govuk-list govuk-list--bullet">
            <li>to process a change of circumstances that might affect someone's Pension Credit amount</li>
            <li>a local authority have requested it for safeguarding</li>
            <li>counter fraud have requested it </li>
          </ul>
        </p>
        <p>If you need to suspend payments for another reason you may need to <a href="#">the claimant back to CAM or GySP</a>.</p>
      </div>
      
      <div class="govuk-form-group">
        <form method="post" action="payment">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
