{% extends "layouts/main.html" %}

{% block pageTitle %}
  Email address – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/index" class="dwp-header__link">{{serviceName}}</a>
</div>
          {% include '../_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include '../_namebar.html' %}


      {{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  })
}}

   <form method="post" action="hospital">   

      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Are either you or {{ data['first-name'] }} registered blind or severely sight impaired?
      </h1>
    </legend>
    
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="blind" name="blind" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Neither of us is
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="blind-2" name="blind" type="radio" value="i-am">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          I am
        </label>
      </div>
       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="blind-3" name="blind" type="radio" value="partner-is">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          {{ data['first-name'] }} is
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="blind-4" name="blind" type="radio" value="both-blind">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          We both are
        </label>
      </div>
    </div>
  </fieldset>
</div>

   

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>




    </div>





  </div>

{% endblock %}
