{% extends "layouts/main.html" %}

{% block pageTitle %}
  Mobile phone number – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/index" class="dwp-header__link">{{serviceName}}</a>
</div>
          {% include '../_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include '../_namebar.html' %}

      {{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  })
}}

     
    <form method="post">
           <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Is {{ data['first-name'] }} an asylum seeker?
                        </h1>
                        
                    </legend>
                    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="nationality" name="asylum-partner" type="radio" value="Yes~immigration-asylum-details-partner">
                            <label class="govuk-label govuk-radios__label" for="nationality">
                            Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="nationality-2" name="asylum-partner" type="radio" value="No~immigration-partner-cya">
                            <label class="govuk-label govuk-radios__label" for="nationality-2">
                            No
                            </label>
                        </div>
                     </div>

                </fieldset>
            </div>
      
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
     
        </form>




    </div>





  </div>

{% endblock %}
