{% extends "layouts/internal-service.html" %}

{% block pageTitle %}
Bank or building society account details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include '../../../../../includes/user-details.html' %}
      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.back()"
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Bank or building society account details</h2>
      <form class="form" action="bank-name" method="post">

        {{ govukInput({
          label: {
            text: "Account holder name"
          },
          id: "account-holder",
          name: "accountHolder"
        }) }}

        {{ govukInput({
            label: {
              text: "Sort code"
            },
            id: "sort-code",
            name: "sortCode",
            classes: "govuk-input--width-5"
          }) }}

          {{ govukInput({
            label: {
              text: "Account number"
            },
            id: "account-number",
            name: "accountNumber",
            classes: "govuk-input--width-10"
          }) }}

          {{ govukInput({
            label: {
              text: "Building society roll or reference number"
            },
            id: "roll-number",
            name: "rollNumber",
            classes: "govuk-input--width-10"
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
