{% extends "layouts/internal-service.html" %}

{% block pageTitle %}
Overseas account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include '../../../../../includes/user-details.html' %}
      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.back()"
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Overseas account</h2>

      <p>Instructional to agent to send new account details to international team, and check payment situation in case a recall is required.</p>

      <p>Currently details are written into an email to the international team - could we automate this from service to ensure right info collected and emails not missed?</p>

        {{ govukButton({
          text: "Return to record?",
          href: "../payment-pc"
        }) }}

    </div>
  </div>

{% endblock %}
