{% extends "layouts/main.html" %}

{% block pageTitle %}
  Bank account name – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="/index" class="dwp-header__link">Later life</a>
</div>
          {% include './_nav.html' %}
</div>
</header>

{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include './_namebar.html' %}

      {{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  })
}}

      <span class="govuk-caption-l">{% if data['changebank'] === 'Pension Credit' %}
        Pension Credit
        {% elseif data['changebank'] === 'State Pension' %}
        State Pension
        {% else %}
        Pension Credit and State Pension
        {% endif %}</span> 

      <h2 class="govuk-heading-l">
        Check the details before updating their record
      </h2>
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Update account details for
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {% if data['changebank'] === 'Pension Credit' %}
                    Pension Credit only
                    {% elseif data['changebank'] === 'State Pension' %}
                    State Pension only
                    {% else %}
                    Both Pension Credit and State Pension
                    {% endif %}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="/mvp/change-bank">Change<span class="govuk-visually-hidden"> Update account details for</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Where would they like to be paid?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <p class="govuk-body">{{data.accountname}}</p>
                    <p class="govuk-body"> {{data.sortcode}}</p>
                    <p class="govuk-body">{{data.accountnumber}}</p> 
                    <p class="govuk-body">{{data.rollnumber}}</p>  
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="/mvp/bank-details">Change<span class="govuk-visually-hidden"> contact details</span></a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Is the bank or building society name Lloyds?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Yes
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="/mvp/bank-name">Change<span class="govuk-visually-hidden">Bank or building society name correct?</span></a>
                  </dd>
                </div>
              </dl>
              <form action="/mvp/payment-success" method="post" novalidate>
                {{ govukButton({
                  text: "Confirm"
                }) }}
              </form>
            </div>
          </div>
        </main>
      </div>



  </div>

{% endblock %}
