{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-l">
      Navigation option 1
    </h2>
    {{ govukButton({
      text: "Start now - option 1",
      href: "mvp/0/nav-options/option-1-full/find",
      isStartButton: true
    }) }}

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" />

    <h2 class="govuk-heading-l">
      Navigation option 2
    </h2>
    {{ govukButton({
      text: "Start now - option 2",
      href: "mvp/0/find",
      isStartButton: true
    }) }}

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" />

    <!-- <h2 class="govuk-heading-l">
      Enhancements end-to-end
    </h2>
    {{ govukButton({
      text: "Start now",
      href: "enhancements/0/find",
      isStartButton: true
    }) }}
  </div> -->
</div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "Navigation options",
            text: "nav-links"
          },
          {
            href: "manage-prototype",
            text: "Manage your prototype"
          },
          {
            href: "manage-prototype/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}