{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Standalone pages</h1>
        {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        })
      }}
      <br><br>



<h3 class="govuk-heading-m">Search Citizen - For Later Life Agent</h3>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header  govuk-!-width-one-third">Page</th>
            <th scope="col" class="govuk-table__header  govuk-!-width-one-quarter">Date created</th>
            <th scope="col" class="govuk-table__header">Details</th>
          </tr>
        </thead>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="/mvp/find-result-sp-pc" target="_blank">State Pension and Pension Credit statuses</a><br><p>(opens in a new tab)</p>
          </td>
          <td class="govuk-table__cell">November 2024</td>
          <td class="govuk-table__cell">
            <p class="govuk-body">Agents can have full access to the LL service. There is also an option to access GySP.</p>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="/mvp/find-result-sp-only" target="_blank">State Pension status only</a><br><p>(opens in a new tab)</p>
          </td>
          <td class="govuk-table__cell">November 2024</td>
          <td class="govuk-table__cell">
            <p class="govuk-body">As there is no PC award information, the agent can't access the LL service. There is a link to access GySP.</p>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="/mvp/find-result-pc-only" target="_blank">Pension Credit AfPC status only</a><br><p>(opens in a new tab)</p>
          </td>
          <td class="govuk-table__cell">November 2024</td>
          <td class="govuk-table__cell">
            <p class="govuk-body">As there is no SP award information, the agent can't access the LL service. There is a link to access AfPC.</p>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="/mvp/find-result-sp-nil-pc" target="_blank">Receiving State Pension with a nil Pension Credit award</a><br><p>(opens in a new tab)</p>
          </td>
          <td class="govuk-table__cell">November 2024</td>
          <td class="govuk-table__cell">
            <p class="govuk-body">As there is a nil award for PC, the agent can't access the LL service. There are links to access GySP or AfPC.</p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="mvp/find-result-no-awards-found" target="_blank">No SP or PC results found</a><br><p>(opens in a new tab)</p>
          </td>
          <td class="govuk-table__cell">November 2024</td>
          <td class="govuk-table__cell">
            <p class="govuk-body">As there are no awards found, the agent can't access the LL service, GySP or AfPC.</p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="mvp/find-result-none-found" target="_blank">No results found</a><br><p>(opens in a new tab)</p>
          </td>
          <td class="govuk-table__cell">November 2024</td>
          <td class="govuk-table__cell">
            <p class="govuk-body">If there are no results found, the agent will go to the 'none found' page and then prompted to try searching again.</p>
          </td>
        </tr>

        

      </table>

      <br>
<h3 class="govuk-heading-m">Error pages</h3>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header  govuk-!-width-one-third">Page</th>
            <th scope="col" class="govuk-table__header  govuk-!-width-one-quarter">Date created</th>
            <th scope="col" class="govuk-table__header">Details</th>
          </tr>
        </thead>


        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="/mvp/bank-account-details-error" target="_blank">Bank account detail error</a><br><p>(opens in a new tab)</p>
          </td>
          <td class="govuk-table__cell">October 2024</td>
          <td class="govuk-table__cell">
            <p class="govuk-body">This error page is shown when there is a problem with the bank or building society account details.</p>
          </td>
        </tr>

        <tr class="govuk-table__row">
         <td class="govuk-table__cell">
            <a class="govuk-link" href="/mvp/error-problem-with-service" target="_blank">Problem with the service page</a><br><p>(opens in a new tab)</p>
          </td>
          <td class="govuk-table__cell">October 2024</td>
          <td class="govuk-table__cell">
            <p class="govuk-body">This is a generic error page used when there is a problem with the service, such as a technical error when retrieving data e.g. bank details or pension credit award information.</p>
          </td>
        </tr> 
      </table>

<br>

<h3 class="govuk-heading-m">Change address - none found</h3>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header  govuk-!-width-one-third">Page</th>
            <th scope="col" class="govuk-table__header  govuk-!-width-one-quarter">Date created</th>
            <th scope="col" class="govuk-table__header">Details</th>
          </tr>
        </thead>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="/mvp/change-address-none-found" target="_blank">Change residential address - none found</a><br><p>(opens in a new tab)</p>
          </td>
          <td class="govuk-table__cell">October 2024</td>
          <td class="govuk-table__cell">
            <p class="govuk-body">No addresses are found during the change address journey.</p>
          </td>
        </tr>
        
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="/mvp/change-corr-address-none-found" target="_blank">Change correspondence address - none found</a><br><p>(opens in a new tab)</p>
          </td>
          <td class="govuk-table__cell">October 2024</td>
          <td class="govuk-table__cell">
            <p class="govuk-body">No addresses are found during the change correspondence journey.</p>
          </td>
        </tr>

      </table>




</div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "Navigation options",
            text: "nav-links"
          },
          {
            href: "manage-prototype",
            text: "Manage your prototype"
          },
          {
            href: "manage-prototype/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}
