{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">


      
      <h1 class="govuk-heading-xl">Previous protoype iterations</h1>

        
      {{ govukBackLink({
        "text": "Back",
        "href": "javascript: window.history.go(-1)"
      })
    }}
    <br><br>


      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header  govuk-!-width-one-third">Iteration</th>
            <th scope="col" class="govuk-table__header  govuk-!-width-one-quarter">Date created</th>
            <th scope="col" class="govuk-table__header">Details</th>
          </tr>
        </thead>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="/5-0/find" target="_blank">Iteration 5</a><br><p>(opens in a new tab)</p>
          </td>
          <td class="govuk-table__cell">Feb 2025</td>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>this version is the MVP delivery</li>
              <li>updated all of the content to reflect a more accurate 'Eric' persona including, name, NINO, DOB, award and payment details</li>
              <li>hidden all functionality that is not part of MVP including timeline, marriage status and alt format letters</li>
              <li>updated the move back to CAM and GySP journey</li>
              <li>updated and completed the change of payment frequency journeys</li>
              <li>housekeeping to update all of the versioning, routing and improve some of the conditional content</li>
              <li>ensure all documentation is up to date on Confluence</li>
            </ul>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="/4-0/find" target="_blank">Iteration 4</a><br><p>(opens in a new tab)</p>
          </td>
          <td class="govuk-table__cell">October 2024</td>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>created the move back to CAM and GySP journey</li>
              <li>designed various standalone pages for the different marriage status and details pages</li>
            </ul>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="/3-0/find" target="_blank">Iteration 3</a><br><p>(opens in a new tab)</p>
          </td>
          <td class="govuk-table__cell">October 2024</td>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>created the design for 'report a death or suspend payments'</li>
              <li>designed the restart payment flow, using the warning message as link</li>
              <li>updated the change bank account flow to bring closer to GySP by removing the check bank name validation</li>
              <li>added stand alone error pages for the change bank account journey</li>
              <li>created the design for change residential address</li>
              <li>created the design for add, change and remove correspondence address</li>
              <li>added in address not found as standalone pages</li>
            </ul>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="/2-0/find.html" target="_blank">Iteration 2</a><br><p>(opens in a new tab)</p>
          </td>
          <td class="govuk-table__cell">September 2024</td>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>updated changing a payment design based on UR findings - business decision to roll this closer to GySP for MVP</li>
              <li>updated change contact details flows</li>
              <li>introduced success notification banners</li>
              <li>amended the stop and suspend journey</li>
              <li>added MVP death journey</li>
            </ul>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link" href="/1-0/find.html" target="_blank">Iteration 1</a><br><p>(opens in a new tab)</p>
          </td>
          <td class="govuk-table__cell">June 2024</td>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>first draft of the key journeys in preparation for the July workshops</li>
              <li>drafts based on GySP</li>
              <li>pages include, skeleton record view, contact details, bank details and payment frequency </li>
              <li>first round of user testing on the prototype to inform design changes in iteration 2</li>
            </ul>
          </td>
        </tr>
      </table>

<!--       
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">More prototype iterations</span>

        </summary>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-third">Version</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date created</th>
              <th scope="col" class="govuk-table__header">Updates made</th>
            </tr>
          </thead>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="v1/start">Version 1</a>
            </td>
            <td class="govuk-table__cell">February 2024</td>
            <td class="govuk-table__cell">
              Prototype standard payment user journey. 
              Pages include:
              <ul class="govuk-list govuk-list--bullet">
                <br>
                <li>GOV.UK page</li>
                <li>Temporary sign in page</li>
                <li>Calculation breakdown</li>
                <li>Make a decision page</li>
                <li>Accept or decline</li>
                <li>Bank details</li>
                <li>Check your answers</li>
                <li>Confirmation pages</li>
              </ul>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="v2/start">Version 2</a>
            </td>
            <td class="govuk-table__cell">March 2024</td>
            <td class="govuk-table__cell">
              <ul class="govuk-list govuk-list--bullet">
                <li>Mockup are you sure page</li>
                <li>Check you answers: layout change to split account details into its own section</li>
                <li>Check you answers: add field name for each field for account details section</li>
                <li>Confirmation page: remove reference number</li>
                <li>Iterated content on the calculation breakdown, make a decision and confirmation pages</li>
              </ul>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a class="govuk-link" href="/v3">Version 3</a>
            </td>
            <td class="govuk-table__cell">March - April 2024</td>
            <td class="govuk-table__cell">
              <ul class="govuk-list govuk-list--bullet">
                <li>Split into 3 journeys standard payment, underpaid and overpaid</li>
                <li>Underpaid: updated content on the calculation breakdown</li>
                <li>Updated content on the make a decision page and the decline confirmation page to say the payment is still available</li>
              </ul>
            </td>
          </tr> -->

        </table>
      </details>

  <!-- <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Navigation
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content">
      <h2 class="govuk-heading-m">
        Navigation option 1
      </h2>
      {{ govukButton({
        text: "Start now - option 1",
        href: "mvp/0/nav-options/option-1-full/find",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">
        Navigation option 2
      </h2>
      {{ govukButton({
        text: "Start now - option 2",
        href: "mvp/0/find",
        isStartButton: true
      }) }}

    </div>
  </div>

</div> -->



</div>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "Navigation options",
            text: "nav-links"
          },
          {
            href: "manage-prototype",
            text: "Manage your prototype"
          },
          {
            href: "manage-prototype/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}
