{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-l">
      MVP end-to-end
    </h2>
    {{ govukButton({
      text: "Start now",
      href: "mvp/0/find",
      isStartButton: true
    }) }}

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" />

    <!-- <h2 class="govuk-heading-l">
      Iterations end-to-end
    </h2>
    {{ govukButton({
      text: "Start now",
      href: "iterations/0/find",
      isStartButton: true
    }) }}
  </div> -->
</div>

{% endblock %}
