{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">{{serviceName}}</h1>
  
        <p>Agent research September 2025</p>

        <h2 class="govuk-heading-m">Assess</h2>
        <p>
          <a href="https://prototype-pension-credit-a707629cc89f.herokuapp.com/v20/tasks/randomise?taskType=nil&pensionCount=0" target="_blank" class="govuk-button govuk-button--secondary">Start journey</a>
        </p>
        
        <h2 class="govuk-heading-m">View</h2>
        <p>
          <a href="/9-0/award-details-pc-v1" target="_blank" class="govuk-button govuk-button--secondary">Version 1</a>&nbsp;
          <a href="/9-0/award-details-pc-v2" target="_blank" class="govuk-button govuk-button--secondary">Version 2</a>
        </p>

{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "Navigation options",
            text: "nav-links"
          },
          {
            href: "manage-prototype",
            text: "Manage your prototype"
          },
          {
            href: "manage-prototype/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}
