{% extends "layouts/record-view.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      {% include '../../../../includes/user-details.html' %}
      {% include '../../../../includes/nav-primary-blocks-payment-sp.html' %}
      <h2 class="govuk-heading-l">State Pension payments</h2>
      <div style="display:inline-block;width:100%;">
        <h3 class="govuk-heading-m" style="float:left;">Bank or building society details</h3>
        <a class="govuk-link govuk-!-font-size-19" href="uk-account.html" style="float:right;vertical-align: baseline;">
          Change<span class="govuk-visually-hidden"> bank or building society details</span>
        </a>
      </div>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Account holder
          </dt>
          <dd class="govuk-summary-list__value">
            John Doe
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sort code
          </dt>
          <dd class="govuk-summary-list__value">
            11 22 33
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Account number
          </dt>
          <dd class="govuk-summary-list__value">
            12345678
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Bank or building society name
          </dt>
          <dd class="govuk-summary-list__value">
            Barclays
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
      </dl>
      <h3 class="govuk-heading-m">Payment schedule</h3>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Payment frequency
          </dt>
          <dd class="govuk-summary-list__value">
            Every 4 weeks
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Next payment date
          </dt>
          <dd class="govuk-summary-list__value">
            Monday 17 Jun 2024
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Next payment amount
          </dt>
          <dd class="govuk-summary-list__value">
              £165.15
          </dd>
          <dd class="govuk-summary-list__actions">
            
          </dd>
        </div>
      </dl>
  </div>
  <div class="govuk-grid-column-one-third">
    {% include '../../../../includes/timeline-payment-sp.html' %}
  </div>
  <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-m">Payment history</h3>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col" style="width: 25%;">Payment date</th>
          <th class="govuk-table__header" scope="col" style="width: 35%;">Period</th>
          <th class="govuk-table__header " scope="col" style="width: 15%;">Amount</th>
          <th class="govuk-table__header" scope="col" style="width: 15%;">Status</th>
          <th class="govuk-table__header" scope="col" style="width: 10%;"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Monday 20 May 2024</td>
          <td class="govuk-table__cell">22 Apr 2024 to 19 May 2024</td>
          <td class="govuk-table__cell">£165.15</td>
          <td class="govuk-table__cell">Sent</td>
          <td class="govuk-table__cell" style="text-align: right;"><a href="payment-previous-sp">Details</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Monday 22 Apr 2024</td>
          <td class="govuk-table__cell">25 Mar 2024 to 21 Apr 2024</td>
          <td class="govuk-table__cell">£165.15</td>
          <td class="govuk-table__cell">Paid</td>
          <td class="govuk-table__cell" style="text-align: right;"><a href="">Details</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
